[2014-09-25 11:11] timflutre opened #1 "add .gitignore to repo"
This is a minor issue: it's useful to ask git to ignore some files. For instance, when doing "git status -s", one usually doesn't want to see all object files generated by gcc/g++. This can easily be done by adding a file named ".gitignore" at the root of the repo (note the dot ".", it's a hidden file). Inside this file, one can add lines such as:

[code]

More explanations [here](http://git-scm.c

[2014-10-04 13:27] timflutre opened #2 "add doc and demo to repo"
Can the manual (latex + pdf) as well as the demo files be added to the repo?

[2014-10-30 17:58] jrandall opened #3 "source distribution created by 'tar' expands into ."
The source distribution (i.e. gemma-0.95.tar.gz) expands directly into the current working directory when expanded. This can sometimes be considered rude and as a result most software distributions provide tars that are set to expand into a subdirectory (usually named the same as the basename of the tar file).

[2014-10-30 18:06] jrandall opened #6 "binary bin/gemma is included in source repository"
It isn't usual to include a built binary in the source repository. Could bin/gemma be removed from git?

[2014-10-30 18:14] jrandall opened #8 "make clean doesn't remove built binary"
Normally, a `make clean` invocation would remove the binary that was previously built, so that make will be sure to rebuild it. Currently, the Makefile target for clean only removes _.o and *_float._ targets (as well as *~ files which are not actually built).

[2014-10-30 18:19] jrandall opened #9 "dynamic linking doesn't work without Makefile modifications"
When building gemma on my linux machine when using dynamic linking (i.e. when running `make FORCE_DYNAMIC=1`), I get the following error:

[code]

This can be fixed for me by modifying the Makefile line setting the LIBS variable when FORCE_DYNAMIC is set to include `-lblas`

[2014-10-30 18:25] #3 closed, assigned to nobody

[2014-10-30 18:26] #1 closed, assigned to nobody

[2014-10-30 18:26] #6 closed, assigned to nobody

[2014-10-30 18:29] #9 closed, assigned to nobody

[2014-10-31 11:47] #8 closed, assigned to nobody

[2014-10-31 12:42] #2 closed, assigned to nobody

[2015-04-07 12:55] timflutre opened #12 "In log file, what does "beta" correspond to?"
Hi Xiang,
a student of mine is using GEMMA (only univariate LMM for the moment). In the log file, we see the following lines:

[code]

What does this beta correspond to? Is it the intercept of the model "y = W alpha + Z u + e"? Thus, is it the first element of the alpha vector? Could you specify this in the manual?

Thanks,
Tim

[2015-04-07 13:23] timflutre opened #13 "In log file, question about pve, vg and ve"
Hi Xiang,
we used real genotypes and simulated phenotypes:
- model: y = W alpha + X beta + Z u + e where X is N=~300 individuals x P~=6000 SNPs
- u ~ N(0, sigma_u^2 K) with K estimated from equation 2.2 from Astle and Balding
- e ~ N(0, sigma_e^2 I)
- only 100 SNPs have an effect: beta = c(rnorm(n=100, mean=0, sd=1), rep(0, ncol(X)-100))
- we also fixed h2 = 0.5 and sigma_e^2 = 1, thus sigma_u^2 =

[2015-04-07 21:37] xiangzhou commented on #13
Hi Tim,

Actually pve = s*vg/(s*vg+ve), where s=mean(diag(K)) (see the supplementary information text in our plos genetics 2013 paper). Therefore, only when s=1, or when the genotypes are standardized before computing the kinship matrix, the equation pve=vg/(vg+ve) will hold. If the genotypes are not standardized when computing the kinship matrix, then the diagonal elements will often be close to

[2015-04-09 17:23] timflutre opened #14 "output file with kinship has extra column"
Hi Xiang,
I am running v0.94. When I load in R the file `kinship.cXX.txt` or `kinship.sXX.txt`, I can see that there is an extra column.
In the code section starting at [line 627 of param.h](https://github.com/xiangzhou/GEMMA/blob/master/src/param.cpp#L627), I think, you shouldn't write the tab `\t` after each number. Instead, for each line, you should write the first number, and then enter into a

[2015-04-09 20:25] xiangzhou commented on #14
I see. I will fix it. Thanks. I was able to read these matrices in R correctly before, so never thought an extra tab would be a problem.

[2015-11-18 14:35] emyr666 opened #18 "compiler warnings"
Large numbers of compiler warnings are produced during compilation. The makefile has -Wall which prints these - all well and good. If you are interested in producing warnings then any that are produced should be fixed so that the code compiles clean.
Compiler warnings flagged up by -Wall can sometimes give rise to subtle bugs at run-time so it's prudent to make sure that any code compiles clean.

[2015-11-18 14:45] emyr666 commented on #18
Given this is C++11, it's also worth addin -Weffc++

[2016-01-08 21:23] xiangzhu opened #19 "SNP filters in GEMMA"
Hi Xiang,

is this "not" a typo? (page 14 in the manual)

if I plan to include all SNPs in the analysis, I just need to use "-maf 0"?

Another two related question:

- is `-notsnp` the same as `-miss 0 -maf 0 -r2 1 -hwe 0`?
- if I specify a list of SNPs to be included in the analysis by using the option `-snps`, will some of the SNPs still be filtered out due to the missingness and/or minor allele

[2016-01-08 21:36] xiangzhou commented on #19
Yes, that's a typo. You can just use "-maf 0" to include all SNPs (or more precisely, use "-miss 0 -maf 0 -r2 1 -hwe 0"). (1) "-notsnp" is not exactly the same as "-miss 0 -maf 0 -r2 1 -hwe 0" as it still check missingness and r2. (2) Even if you specify a list, some of them still could be filtered out.

[2016-01-08 22:06] xiangzhu commented on #19
Thanks!

[2016-01-08 22:06] #19 closed

[2016-03-05 17:38] pcarbo opened #21 "Compiling GEMMA on Mac OS X"
Hi Xiang,

It seems that you need to replace the vecLib framework with the Accelerate framework (type "man Accelerate" in Terminal on a Mac computer) to make gemma compile successfully on a Mac, at least with more recent versions of the OS X.

Peter

[2016-04-19 19:09] DSLituiev opened #22 "No `bin` folder"
Readme says:
`INSTALLATION: An executable binary (x86 64bit Linux) is available in the bin directory.`
However there is no `bin` directory in this repository.

[2016-04-19 21:25] DSLituiev opened #23 "build error narrowing conversion of ‘-9’ from ‘int’ to ‘std::size_t'"
I get following build error with `gcc (GCC) 5.2.1 20150902`:

[code]

[2016-05-24 09:02] guokai8 opened #24 "could build success on Mac OS X"
I clone the whole package on my desktop,When I try to build the package it failed
Below is the information:

[code]

Below is the version of clang
  bioguo@bioguo:/Volumes/Work/GEMMA$ clang -v
Apple LLVM version 7.3.0 (clang-703.0.31)
Target: x86_64-apple-darwin15.5.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

[2016-05-24 11:54] HLBarker commented on #21
Hi Peter,

I am currently compiling GEMMA for Mac OS X, and I wanted to clarify how your recommendation should be incorporated in the Makefile.

Did you change:
LIBS_MAC_D_LAPACK = -framework vecLib

to:
LIBS_MAC_D_LAPACK = -framework Accelerate

?

Thank you!
Hilary

[2016-05-25 13:50] pcarbo commented on #21
Hi Hilary, here is the exact Makefile I used to compile the GEMMA executable:

[Makefile.txt](https://github.com/xiangzhou/GEMMA/files/282092/Makefile.txt)

Hope that helps.

Peter

[2016-05-25 14:24] HLBarker commented on #21
Yes, that works! Thank you, Peter!

[2016-07-26 11:26] xiekunwhy opened #26 "Always getting 'pve estimate =0.99xxx se(pve) =-nan'"
Hi Xiang,
When I use gemma to perform gwas, I always getting 'pve estimate =0.99xxx se(pve) =-nan', and all results are nan(below). Here is my command line,
gemma -bfile mydata -k output/mydata_kinship.sXX.txt -miss 1 -maf 0.01 -r2 1 -lmm
Is there any wrong with the command line or my input datas (attachment)?
[mydata_kinship.sXX.txt](https://github.com/xiangzhou/GEMMA/files/383675/mydata_kinship.

[2016-08-15 19:44] tcarv opened #27 ""-gxe" not working"
Hi Xiang,

Any time I try to run GEMMA with the "-gxe" option it gives me the following error:

Start Eigen-Decomposition...
pve estimate =0.130578
se(pve) =0.195554
gsl: brent.c:202: ERROR: function value is not finite           0.00%
Default GSL error handler invoked.
Segmentation fault (core dumped)

The only way it seems to run is if all the values in the "-gxe" file are 0.
Is this issue speci

[2016-08-16 06:55] pjotrp commented on #27
Eigen segfault. If you are linking against OpenBLAS this could be the same issue as https://github.com/xianyi/OpenBLAS/issues/703. Upgrade OpenBLAS to latest.

[2016-08-17 15:58] jcgrenier opened #28 "Compilation problem "ldr.h : No such file or directory""
Hello there,

I'm trying to compile GEMMA on my system. I changed my lapack libraries directory. So it should not be a problem with this. Here's what I get :

$ make
g++ -Wall -O3 -std=gnu++11 -DWITH_LAPACK -m64 -static  -c src/main.cpp -o src/main.o
g++ -Wall -O3 -std=gnu++11 -DWITH_LAPACK -m64 -static  -c src/param.cpp -o src/param.o
In file included from src/Eigen/Cholesky:24:0,

[2016-08-17 17:52] xiangzhou commented on #28
I updated gemma.cpp file. This should fix this issue.

[2016-08-17 17:57] jcgrenier commented on #28
Thanks for this,

I'm getting another one that is not found now. "varcov.h" .

Thanks for helping us with this!

[2016-08-17 18:01] xiangzhou commented on #28
How about now?

[2016-08-17 18:06] jcgrenier commented on #28
Still not good. varcov.h is not found. It's not in the src directory and is still in the gemma.cpp file.

[2016-08-17 19:01] xiangzhou commented on #28
I forgot to push gemma.cpp up last time. The new file should be on git now.

[2016-08-17 21:13] jcgrenier commented on #28
Thanks, I'm trying to install all of this now!

[2016-08-19 19:21] jcgrenier commented on #28
Seems like it fixed it! Thanks a lot!

[2016-09-09 20:28] jcgrenier commented on #24
I'm having the same issue. Anybody solved this problem?

Thanks!

[2016-10-08 13:51] danielecook commented on #21
@HLBarker can you provide the executable?

[2016-10-09 18:28] HLBarker commented on #21
Yes, I will email them to you

[2016-10-09 18:51] danielecook commented on #21
Thank you. My email is available on my website: danielecook.com (right
side).

Have a good day!
On Sun, Oct 9, 2016 at 1:28 PM Hilary Barker <notifications@github.com>
wrote:

[2016-10-26 19:51] xiangzhu commented on #23
@xiangzhou I get the same build error with `gcc-5`; and I also get the same error using `g++ (Ubuntu 6.2.0-3ubuntu11~16.04) 6.2.0 20160901`.

Here is the error from `gcc-6`.
[code]

[2016-11-29 00:21] DSLituiev opened #29 "make relatedness matrix: gsl ERROR: vector length n must be positive integer"
I am trying to figure out how to make relatedness matrix and running into an error:

[code]

I am using pre-compiled 0.95alpha and 0.94.1 binaries on CentOS6.7.

[2016-12-25 06:44] wanyuac commented on #12
This is confusing to me as well because there should not be a beta coefficient in the null model. Would you explain this output?

Thanks,
Wan

[2017-01-03 15:40] thorellk commented on #24
I'm also stuck with this, did you manage to solve it @jcgrenier or @guokai8?

[2017-01-04 00:59] guokai8 commented on #24
I have not solve the problem

[2017-01-04 12:51] wanyuac commented on #23
The same to me on ubuntu:

src/io.cpp: In function ‘bool ReadFile_bgen(const string&, const std::set<std::__cxx11::basic_string<char> >&, const gsl_matrix*, std::vector<int>&, std::vector<int>&, std::vector<SNPINFO>&, const double&, const double&, const double&, const double&, std::size_t&)’:
src/io.cpp:2165:73: error: narrowing conversion of ‘-9’ from ‘int’ to ‘std::size_t {aka long unsigned int}

[2017-01-04 19:31] BennyStrobes opened #30 "Makefile"
Hi, I'm trying to install gemma onto a linux cluster. However my version of gsl is not in the standard '/usr/bin' location and cannot be installed there because of admin privileges.

Regardless, I cannot get the GEMMA Makefile to find where gsl is installed on the cluster. If anyone could give advice on how to edit the Makefile to correctly find gsl, that would be greatly appreciated.

Thanks!

[2017-01-05 04:20] wanyuac commented on #23
It is a problem of the compiler we have used. As one of my colleagues suspected, I finally got GEMMA compiled successfully using gcc-4.9.3. It seems that the code "SNPINFO sInfo={"-9", rs, -9, -9, minor, major, -9, -9, (long int) -9};" is not compatible with gcc-5+. @xiangzhu @DSLituiev

There is another way to get round of this problem using gcc-5. We can change the class definition:

``
class SN

[2017-01-20 16:31] timflutre commented on #30
Did you try something like this? `make LDFLAGS=-L/usr/local/lib` (replace `/usr/local/lib` by the path to where you installed the GSL)

[2017-02-16 10:12] FJ-H opened #31 "variance contribution of tested snps"
Hi,
I'm wondering if there's a way to obtain the proportion of variance explained after adjustment on each snp in the GEMMA output after univariate LMM for marker association tests.
Indeed, I can find the PVE of the NULL model in the log.txt (I suppose that the fixed covariates independant of the betaX vector are included in the null model, but I'm not sure ),
and I can find the Lamba after adjust

[2017-02-16 13:02] xiangzhou commented on #31
Yes, the software outputs the ratio between vg and ve for the alternative model (l_remle=vg/ve). Because vg+ve=1 (or the phenotype variance if the phenotype is not standardized) as SNP effect is always extremely small, you can get vg and ve for the alternative model back from l_remle.

[2017-02-16 17:02] mkerin commented on #29
I am also hitting this error. Did you solve it in the end?

[2017-02-16 17:13] xiangzhou commented on #29
Have you masked the individuals who you want to predict the phenotypes for? To do that, you can replace their phenotype values in the phenotype file with NA.

[2017-02-18 19:49] mkerin commented on #29
Just thought I'd post to say that solved the problem. Thanks for the quick response!

[2017-02-20 01:46] clinnen commented on #21
I just attempted to use the edited makefile to get GEMMA to compile on my mac and it still didn't work. Does anyone have a mac executable they could email to clinnen(at)gmail(dot)com?

[2017-02-20 16:18] pcarbo commented on #21
I'm attaching the executable compiled for GEMMA version 0.94. It was compiled on a MacBook Pro with a 2.53 GHz Intel Core 2 Duo processor and gcc/g++ from Xcode version 8.0. Hope that works for you!

[gemma.gz](https://github.com/xiangzhou/GEMMA/files/788000/gemma.gz)

[2017-02-20 16:20] pcarbo commented on #21
By the way, Xiang, if you'd like you can link to this executable on [your software page](http://www.xzlab.org/software.html).

[2017-02-20 16:37] clinnen commented on #21
Thanks so much!!
Catherine

On Mon, Feb 20, 2017 at 11:19 AM, Peter Carbonetto <notifications@github.com

--
****************************************************************
Catherine R. Linnen, Ph.D.
Assistant Professor
Department of Biology
University of Kentucky
200A Thomas Hunt Morgan Building
Lexington, KY 40506
website: www.linnenlab.com

Phone (lab): 859-323-3160

[2017-02-21 00:19] clinnen commented on #21
And- it worked great!

[2017-02-24 07:49] samfux84 opened #32 "GEMMA does not compile"
./src/io.o: In function `GetabIndex(unsigned long, unsigned long, unsigned long)':
io.cpp:(.text+0x4ae0): multiple definition of `GetabIndex(unsigned long, unsigned long, unsigned long)'
./src/param.o:param.cpp:(.text+0x2500): first defined here
./src/lmm.o: In function `GetabIndex(unsigned long, unsigned long, unsigned long)':
lmm.cpp:(.text+0x1760): multiple definition of `GetabIndex(unsigned lo

[2017-02-24 07:50] samfux84 commented on #32
Code was downloaded with

git clone https://github.com/xiangzhou/GEMMA.git

Using GCC 4.8.2, GSL 1.16, OpenBLAS 0.2.13

[2017-03-09 06:15] tseemann opened #33 "Please make a release"
Needed for packaging in Brew and Conda.

[2017-03-20 14:49] echubaty commented on #23
@wanyuac Thank you, your fork of this repo worked for me. The only modification I had to make for my environment was changing CPP to g++-4.9 since I now have multiple versions installed.

[2017-04-09 13:22] kumine opened #34 "Include estimates of dominance effects"
Mr  zhou,

   GEMMA only estimates the additive effect. for heterozygous population, it's very important to estimate dominant effect. Maybe I  can record the genotype (AA,Aa,aa) as (1,1,0), (0,1,1) and (0,1,0) respectively to estimate dominant effect. But it is reasonable to estimate dominant effect base on  additive effect as NULL model . So I hope dominant estimation can be added into GEMMA.
tha

[2017-05-03 15:31] pcarbo opened #35 "Create R wrapper/interface for GEMMA"
It would be preferrable if the R variables could be passed directly to GEMMA without having to save files.

Perhaps it could even be turned into a small R package (e.g., `rgemma`).

[2017-05-04 15:54] pcarbo commented on #21
I'm attaching the executable built on Mac OS X 10.11.6 ("El Capitan") for GEMMA version 0.95a, as well as the Makefile used to build it.

[gemma.gz](https://github.com/xiangzhou/GEMMA/files/976748/gemma.gz)
[Makefile.gz](https://github.com/xiangzhou/GEMMA/files/976750/Makefile.gz)

[2017-05-04 15:56] clinnen commented on #21
Thank you so much!

On Thu, May 4, 2017 at 11:54 AM, Peter Carbonetto <notifications@github.com>
wrote:

--
****************************************************************
Catherine R. Linnen, Ph.D.
Assistant Professor
Department of Biology
University of Kentucky
200A Thomas Hunt Morgan Building
Lexington, KY 40506
website: www.linnenlab.com

Phone (lab): 859-323-3160

[2017-05-04 18:41] stephens999 commented on #21
@pcarbo I get
dyld: Library not loaded: /usr/local/opt/gsl1/lib/libgsl.0.dylib
with this version.

I have gsl-2.3

[2017-05-04 20:23] pcarbo commented on #21
@stephens999 @clinnen: I'm uploading a new executable that incorporates Xiang's more recent updates that he did not push to Github. Also, I linked to the static GSL libraries, which means that you should not have to download the GSL 1.16 libraries separately.

Can each of you please try out this executable and make sure it works? For example, try running `gemma -h` and the example provided in the

[2017-05-04 23:03] stephens999 commented on #21
it works for me thanks!

[2017-05-05 01:00] clinnen commented on #21
Works for me too!
Thanks!

On Thu, May 4, 2017 at 7:03 PM, stephens999 <notifications@github.com>
wrote:

--
****************************************************************
Catherine R. Linnen, Ph.D.
Assistant Professor
Department of Biology
University of Kentucky
200A Thomas Hunt Morgan Building
Lexington, KY 40506
website: www.linnenlab.com

Phone (lab): 859-323-3160

[2017-05-05 02:37] pcarbo commented on #21
Great! The plan is to eventually make binaries available from the "releases" tab. In the meantime, I will leave this issue open.

[2017-05-09 12:51] nmc97 opened #36 "Segmentation faults when running example in demo.txt"
I've been going through the demo and have experienced segmentation faults for one of the example processes. The rest worked fine.

On command line:

	Reading Files ...
	## number of total individuals = 1940
	## number of analyzed individuals = 1197
	## number of covariates = 1
	## number of phenotypes = 2
	## number of total SNPs = 12226
	## number of analyzed SNPs = 10758
	Start Eigen-Decompositi

[2017-05-09 16:51] pcarbo commented on #34
Hi Wang Min,

In practice, we often find that the additive genetic variance is much more important than dominant/recessive effects. This is typically the case for complex phenotypes in human populations, and is often the case in other organisms/populations. Incorporating dominance effects into the LMM is challenging (at least if we want the computation to be fast), and is generally not used much i

[2017-05-09 17:00] pcarbo commented on #33
Hi @tseemann,

I've created [a release of GEMMA 0.95a](https://github.com/xiangzhou/GEMMA/releases/tag/v0.95a).

Please let us know if you need binaries of the Mac OS X and/or Linux versions for Brew and Conda.

Thanks for your help in making GEMMA available in Brew and Conda, and let me know if there is anything else I can do to make this happen.

Peter

[2017-05-09 17:05] pcarbo commented on #36
Hi @nmc97,

It appears that Xiang introduced a bug in GEMMA sometime between versions 0.94a and 0.95a; I was able to reproduce your bug with GEMMA 0.95a, and I did not get a segmentation fault with GEMMA 0.94a. So one temporary solution would be to download the v0.94 executable from [here](http://www.xzlab.org/software.html) or [here](https://github.com/xiangzhou/GEMMA/issues/21#issuecomment-28112

[2017-05-09 17:10] pcarbo commented on #32
Hi @samfux84,

Can you please try compiling again with this latest version of GEMMA (`master` branch)? I think I have fixed this issue, but I wanted to double-check with you.

Peter

[2017-05-09 17:11] pcarbo commented on #30
@BennyStrobes Are you still having problems with this issue?

[2017-05-09 17:41] pcarbo commented on #24
@guokai8 @thorellk @jcgrenier I was able to reproduce this issue in `clang Apple LLVM version 8.0.0`:

[code]

[2017-05-09 17:52] pcarbo commented on #24
@guokai8 @thorellk @jcgrenier Can you please try compiling again with the latest version of the repo (this is now `gemma 0.95.1`)? Also consider using `make -f Makefile.osx`.

[2017-05-09 18:03] pcarbo commented on #18
@emyr666 Thank you for raising this issue.

@xiangzhou I ran `make -f Makefile.osx` on my MacBook Pro (Mac OS X 10.11, Apple LLVM version 8.0.0)  with the flags `-Wall -Weffc++`, as suggested by @emyr666. In total, I generated about 54 warnings (see file below containing the full output of running `make`). You probably don't need to address all of these warnings, and some of these warnings may nev

[2017-05-09 18:07] pcarbo commented on #22
@DSLituiev Thank you for pointing out this problem. I've added the bin folder to the repository (see commit `09c9dca`), so I believe this issue is now fixed.

[2017-05-09 18:07] #22 closed

[2017-05-09 18:10] pcarbo commented on #23
@wanyuac @xiangzhu @echubaty @DSLituiev Can one of you please check to see if this issue is now resolved? See also Issue #24, which reported the same problem (although using a different compiler).

[2017-05-09 18:16] pcarbo opened #37 "size_t set to signed values"
@xiangzhou According to [the C++ standard](https://stackoverflow.com/questions/1119370/where-do-i-find-the-definition-of-size-t), `size_t` is an unsigned integer type, but you are assigning (constant) negative values to variables of this type, which seems to be generating warnings in some cases; e.g., in `io.cpp`:

[code]

So you should either replace these with unsigned values, or change the defi

[2017-05-09 19:07] #36 closed

[2017-05-09 19:08] xiangzhou commented on #36
This bug inside mvlmm.cpp is fixed now.

[2017-05-09 20:00] nmc97 commented on #36
Thank you both!

[2017-05-10 06:14] samfux84 commented on #32
Thank you for fixing the problem. GEMMA (master branch) now compiles.

[2017-05-10 12:26] pjotrp commented on #33
Good stuff @pcarbo. Latest compiles fine in GNU Guix. When you do a release I'll push it into mainline.

[2017-05-10 15:44] #32 closed

[2017-05-10 17:28] pcarbo commented on #33
@pjotrp @tseemann I have made a new release ([0.95.2a](https://github.com/xiangzhou/GEMMA/releases/tag/v0.95.2a)), which includes binaries built on Linux and Mac. Will this work for you?

[2017-05-11 14:21] pcarbo commented on #29
@xiangzhou I'm labeling this as a bug because it would be good to have proper error handling---and give a more informative error message---before a segmentation fault is reached.

[2017-05-13 03:03] #28 closed

[2017-05-15 19:20] pcarbo commented on #27
@tcarv Could you please provide the full `gemma` command that you tried to run?

[2017-05-15 19:27] pcarbo commented on #14
@xiangzhou It looks like the kinship files still have a tab or space at the end of each line. Can you fix this?

[2017-05-15 20:07] pcarbo commented on #26
@xiekunwhy I was able to reproduce this error using the simpler command:

[code]

Further, I did *not* get an error using the linear regression instead of the LMM:

[code]

The eigenvalue decomposition seemed to work okay (using the `-eigen` flag).

So my hunch is that GEMMA is behaving strangely with your phenotype data. To test this, I created a "dummy" phenotype (see the attached file), and re-

[2017-05-17 09:42] pjotrp commented on #33
I packaged it for GNU Guix (https://gitlab.com/genenetwork/guix-bioinformatics/commit/a0f4e5a7279625ecd8391f5412e54158bee51dd1).

Can you make a new release because 0.95a does not compile, but the latest git does. Also make it a stable 0.95 or 0.95.1 release. This code has been tested for a while in GeneNetwork and Guix does not like to include alpha packages.

[2017-05-17 09:44] pjotrp opened #38 "Add test framework"
It would be really nice to run the tests listed in the example directory. This would give some confidence that changes to the code base still deliver the same results.

[2017-05-17 15:10] pcarbo commented on #38
I agree (and then we can add Continuous Integration as well). Do you have a good example of a repository with C/C++ code that does this? I am very familiar with implementing tests for R packages, but I've never done it for C/C++ code.

I've labeled this as an "enhancement", and I will address it as soon as I can.

[2017-05-17 15:20] pjotrp commented on #38
Sambamba uses a very simple testing framework written in bash. It does not really matter what you select (for me). You can opt for R too. May work with your plans for creating a library. Guix has automatic CI, but it only works when a package gets updated. Travis CI is pretty flexible. Then gitlab also has a system...

[2017-05-17 15:25] pcarbo commented on #38
@pjotrp Thansk for the suggestions.

[2017-05-17 15:27] pcarbo commented on #33
Have you tried the [latest release, v0.95.2a](https://github.com/xiangzhou/GEMMA/releases/tag/v0.95.2a)?

Sure, I can create a new release, e.g., `v0.96`. Do I simply remove the "a" from the version, and remove the "pre-release" label? Or is there something else I need to do? e.g., make a `1.0` version?

[2017-05-17 15:40] pjotrp commented on #33
Any number is fine as long as it does not say alpha, pre or rc ;). Numbering is mostly preference based. I would opt for 0.95 or 0.96. I would only tag x.xx releases. People who want/need to test stuff should pull from git instead.

[2017-05-17 16:21] pcarbo commented on #33
@pjotrp I created a new (non-alpha) release: [v0.96](https://github.com/xiangzhou/GEMMA/releases/tag/v0.96).

[2017-05-17 21:27] pcarbo commented on #12
@timflutre @wanyuac Yes, these are the regression coefficients for the covariates; if you do not provide any covariates, I believe that there will be a single beta value giving you the estimated intercept.

[2017-05-18 05:30] pjotrp commented on #33
It works and will go into Guix. @tseemann it should also work on bioconda, but you ought to take a look at Guix. I am presenting at BOSC. Guix and conda go well together.

[2017-05-18 07:24] timflutre commented on #12
@pcarbo thanks Peter, by any chance can this be added to the manual to prevent others from asking?

[2017-05-18 07:29] timflutre commented on #38
I agree with this very important recommendation. As an example of C++ package, I can suggest [eQtlBma](https://github.com/timflutre/eqtlbma) for which I am the maintainer. I implemented several functional tests (via bash and R), launched via `make check` (the package uses the Autotools). I never used continuous integration, but guess it shouldn't be too hard to do as long as `make check` works wel

[2017-05-18 07:30] timflutre commented on #35
+1 that would be great! maybe the first step to do is to refactor the core of the code into a stand-alone library, which would then be easy to call from R via Rcpp

[2017-05-18 12:40] pjotrp commented on #38
Sambamba uses https://github.com/kward/shunit2/. It is just bash. E.g. https://github.com/lomereiter/sambamba/blob/master/.test_suite.sh. Would be easy to add the examples this way. Test for the return value or the return value of a diff on output (which is a regression test).

[2017-05-18 12:41] #33 closed

[2017-05-18 12:42] pcarbo commented on #12
@timflutre Yes, I will leave this issue open so that we remember to do that.

[2017-05-18 12:43] pjotrp commented on #33
gemma is now part of GNU Guix! http://git.savannah.gnu.org/cgit/guix.git/commit/?id=2b18ad054cf5a09582bc96ac7755452e7a5924e1

[2017-05-18 12:45] pcarbo commented on #38
Thank you both for the suggestions.

[2017-05-18 16:26] pcarbo commented on #26
@xiekunwhy One possible explanation is that the rows of the phenotype and genotype files do not match up. I have seen people make this error before.

[2017-05-24 07:40] pjotrp commented on #35
I don't think GEMMA should be tied to R. We are using it from Python. You can still create an R wrapper that passes data in memory, but don't do away with the standard CLI. I would create a separate R package for this that may share the source code.

[2017-05-24 07:42] pjotrp commented on #23
Guix version compiles fine with latest gcc compilers.

[2017-05-24 07:47] timflutre commented on #35
Yes, I agree with @pjotrp, that's why I advocated for a library. In this way, the same library can be called by a simple .cpp file with a `main` function to be used from the CLI, but it can also be easily used by an R package via Rcpp, or from Python, or Julia, etc.

[2017-05-24 13:42] #23 closed

[2017-05-24 13:43] pcarbo commented on #35
I agree @timflutre & @pjotrp.

[2017-05-26 15:32] pcarbo opened #39 "Do we need FORCE_FLOAT?"
@xiangzhou I'm wondering if there is much benefit to including the `FORCE_FLOAT` option in GEMMA, which makes your code somewhat more complicated. You claim that this option is useful for reducing memory requirements, but have you tested this? Most computers (my guess is >99%) now have 64-bit architectures, which means that addressing is limited to 64 bits, which is the size of a double-precision

[2017-05-26 16:56] xiangzhou commented on #39
The float version was mainly introduced for the bslmm model. I tried the float version a while ago on our previous cluster (pps cluster), and found that it only uses half the memory required by the double version (if I remember correctly, for 5k idv and 0.5million snps, the float version uses 8gb while the double version uses 16gb). But that was about 5 years ago. I am not sure either whether ther

[2017-05-26 17:48] pcarbo commented on #39
@xiangzhou I will test to see if `FORCE_FLOAT` reduces memory usage in 64-bit systems.

[2017-05-26 17:49] pcarbo opened #40 "Add MPL for Eigen"
The license accompanying the Eigen C++ library is missing, and should be added.

[2017-05-26 17:52] pcarbo opened #41 "Update Eigen source files"
The latest version of [Eigen C++ library](eigen.tuxfamily.org) is 3.3.3. Either: (1) update the source code or, (2) remove the source code and have the user download the Eigen source code separately.

*Note:* No changes were made to the original Eigen library source code.

[2017-05-27 05:39] pjotrp commented on #39
Don't use float if you have double. You have to really know what you are doing.

https://wiki.haskell.org/Performance/Floating_point

[2017-05-27 20:52] pcarbo opened #42 "Tests using Eigen C++ library v3.3.3"
Using commit id `bbbabdb`.

**First test:** calculate centered relatedness matrix.

[code]

**Second test:** association tests with a univariate LMM.

[code]

**Third test:** association tests with a multivariate LMM.

[code]

[2017-05-27 21:07] #41 closed

[2017-05-28 16:31] pcarbo commented on #39
@xiangzhou An update on this:

I wasn't able to build the binary executable using `FORCE_FLOAT = 1`; it generated several errors which did not seem straightforward to resolve.

Upon further experimentation in MATLAB, I think it is possible to reduce memory requirements with single-precision. I wasn't able to find any documentation about this in MATLAB, but [this webpage](https://docs.julialang.org

[2017-05-29 06:30] pjotrp commented on #39
This is one of the best talks I ever heard. If you want to know about float/double, spend half an hour here. It is worth it. Entertaining too.

http://dconf.org/2016/talks/clugston

[2017-05-31 00:47] fboehm opened #43 "Makefile.macosx and gsl directory"
I really appreciate the recent work that you've put into GEMMA.

I received errors when trying to compile version 0.96 with the Makefile.macosx file. It seems that my gsl is in a directory other than the one listed in Makefile.macosx. I realize that there's a note about needing to change the directories listed in the Makefile, but I was unsure which lines typically need to be changed. The comment

[2017-05-31 00:55] pcarbo commented on #43
@fboehm Thanks for the note. Yes, currently `Makefile.macosx` is not intended to work out-of-the-box, and will most likely need to be customized for a user's individual setup. I've included this Makefile as guidance only. We are working on improving the installation instructions and Makefile(s) so that the installation is more straightforward.

The specific problem you mentioned (regarding GSL and

[2017-05-31 00:57] fboehm commented on #43
thanks for the explanation. It occurred to me after writing that the version of gsl might be the issue. thanks again!

[2017-05-31 00:57] #43 closed

[2017-06-01 17:35] fboehm commented on #35
@timflutre From what I understand about libraries, I like the idea of creating a library, but I am new to C++. Can you say more about what we would need to do to create a library? How would we begin to refactor the core of the GEMMA code? Thanks!

[2017-06-01 21:08] pcarbo commented on #35
@fboehm @timflutre It would involve replacing GEMMA's command-line interface, in which the data is read from files, with a single function that takes as input (1) the options, and (2) the data in the form of matrices (or perhaps data frames). The input could be passed from R to C++ via the [`.Call` interface in R](https://cran.r-project.org/doc/manuals/r-release/R-exts.html#System-and-foreign-lang

[2017-06-02 01:46] tseemann commented on #39
I also had issues with `FORCE_FLOAT` in Linux.

[2017-06-02 01:52] tseemann opened #44 "FYI - updated Brew formula to 0.96"
[code]

Should work on MacOS too.

I will eventually get it into `homebrew-science` main.

[2017-06-02 03:19] pcarbo commented on #39
@tseemann Thanks for sharing.

[2017-06-02 03:38] pcarbo commented on #44
That's great @tseeman. I was able to install it on my MacBook Pro with the following commands:

[code]

Note I got the following warning:

[code]

But it seems to be working despite this warning (didn't test it comprehensively, of course).

I've attached the full output from `brew install gemma` in case you are interested.

[brew_install_gemma.out.gz](https://github.com/xiangzhou/GEMMA/files/10466

[2017-06-06 07:29] timflutre commented on #35
@fboehm before refactoring anything, the first step is to automatize tests, as suggested in issue #38

[2017-06-11 09:08] tseemann commented on #44
I only tested in on Linuxbrew (hence my repo name), and on Mac Brew I use `gcc` not `clang`, so i probably wouldn't encounter this problem.

[2017-06-11 09:08] #44 closed

[2017-06-20 17:26] lindrothlab opened #45 "Multitrait GWAS (-lmm) has NaN values for Se(Ve)"
Hello,

I have attempted multitrait GWAS with two traits and a kinship matrix (no other covariates) and I think something must be wrong with my input data. Here's the command line output:

[code]

The se(Ve) has NaNs and the "Reading SNPs" does not advance from 0.00%. The command does not execute fully. Do you have any suggestions for what could be wrong with the input data? I can attach the data

[2017-06-21 03:01] pcarbo commented on #45
@lindrothlab Have you first tried to run the basic linear model (e.g., `-lm 2`) on one or both of your phenotypes? Or have you tried the univariate LMM (e.g., `-lmm 2`) on one or both of your phenotypes? This would be a good starting point if you haven't tried this already.

[2017-06-21 10:48] xiangzhou commented on #45
Also, mvLMM is sensitive to phenotype normalization. We usually quantile transform each phenotype to a standard normal distribution before analysis.

[2017-06-21 19:01] lindrothlab commented on #45
Individually, each trait seems to run okay with GEMMA using -lmm 2 and -lm 2 (producing complete log and .assoc.txt files). Yet, the l_mle values are all 100,000 (see attached figure) for both traits. Otherwise, the output looks seemingly similar to output from the sample mouse data.

![assoc_example](https://user-images.githubusercontent.com/29579910/27401780-0d0d8a0a-568a-11e7-86e9-e4aaf9b53108.

[2017-06-22 03:42] pcarbo commented on #45
@lindrothlab The maximum likelihood estimates of lambda are hitting the maximum allowed value (the default value of `lmax` is 1e5). The REMLE estimates are also quite high, which suggests that the correlation defined by the relatedness matrix is a good fit for the phenotypic correlations.

@lindrothlab Do you get similar values for `l_remle` and/or `l_mle` in the univariate LMM analyses?

[2017-06-23 16:43] lindrothlab commented on #45
Yes, for both of the traits the l_mle in the univariate LMM analyses are all 1e5.

[2017-06-23 17:04] lindrothlab commented on #45
Here's some more information. When using -lmm 4 for each of the traits in a univariate analysis, the l_mle values are all 1e5, and the l_remle values both 10.7 and 11.7 on average for each trait but there is quite a bit of variance across traits. The standard deviation for the l_remle values are 0.97 for one trait but 378 for the other trait because two of the l_remle values are set to 1e5. The at

[2017-06-23 22:03] pcarbo commented on #45
@lindrothlab How are you computing the relatedness matrix? Can you tell us anything about the genetic relatedness of these samples? Could any of them share recent answers?

@xiangzhou Have you ever seen very large ML estimates of lambda like these before? Do you think it could be an issue with the relatedness matrix not being s.p.d. (symmetric positive definite)? Would you suggest inspecting the e

[2017-06-26 14:41] lindrothlab commented on #45
Most of the samples are unrelated. Approximately 6 sample pairs have a relatedness of 0.128 and 20 sample pairs have a relatedness of 0.065. The diagonal values are 0.277.

Here are some summary statistics for the entire matrix:
      Min.            1st Qu.        Median        Mean        3rd Qu.       Max.
-0.0075820 -0.0017300 -0.0006334  0.0000000  0.0004818  0.2770000

And here is a summary

[2017-06-26 16:10] pcarbo commented on #45
To recap, we get odd behaviour with both of the univariate & multivariate LMMs.

This could be an issue, but hard to say for sure.

This is quite possibly the root of the problem. The relatedness matrix is expected to be symmetric positive definite (s.p.d.), and an important s.p.d. matrix (@xiangzhou please correct me if I've made any incrorrect assumptions here. Does GEMMA check that all the eige

[2017-06-26 16:39] HLBarker commented on #45
Ok, sounds good. I'll give this a go and get back to you. Thanks!

[2017-06-26 16:40] lindrothlab commented on #45
Ok, I'll give this a go and get back to you. Thanks!

[2017-06-27 15:41] lindrothlab commented on #45
After getting rid of one sample from all of the related pairs (relatedness ~ 0.12), the kinship matrix still does not seem to be quite right. Most of the eigenvalues vary from 0.5 to 0.1, but the very last eigenvalue is 5.5e-13. And this is fairly similar to the eigenvalues from the kinship matrix that included the related samples (most values varied from 0.5 to 0.07,  but the last eigenvalue was

[2017-06-27 15:43] pcarbo commented on #45
@lindrothlab Please go ahead and send us a Dropbox or Google Drive link (Dropbox is preferred); if you are concerned about making the link publicly available, you can send it to our email addresses.

[2017-06-27 16:07] lindrothlab commented on #45
Here's the data in plink format. Since the data aren't human or any other model form that plink supports, the SNPs have all been assigned to chromosome one. Please let me know is you have any questions. Thank you! https://www.dropbox.com/sh/xs3zyn35rc7c89p/AACthEmSWB8za3v2fb5mMt4pa?dl=0

[2017-06-27 17:10] lindrothlab commented on #45
I've standardized the kinship matrix according to https://aeolister.wordpress.com/2016/06/27/fixing-a-non-positive-definite-kinship-matrix/ and the eigenvalues are slightly improved (I've added this kinship matrix "normalizedKinshipForGEMMA" to the dropbox folder). Also, the trait that was previously giving 1e5 values for l_remle is no longer having this issue and the multitrait GWAS has run and I

[2017-06-27 17:25] pcarbo commented on #45
@lindrothlab That's great news? Could you please send us the original `gemma` command you used to generate the relatedness/kinship matrix, and the steps you took to fix the matrix? This could be useful for others. Also, did you try the `-gk 2` option in GEMMA which computes a "standardized" relatedness matrix?

Do you have a lot of SNPs with very low allele frequencies? I'm curious why this "stand

[2017-06-29 15:00] lindrothlab commented on #45
Yes, certainly!

To generate the kinship matrix, I used:
lindroth@lindroth-5810:/usr/share/gemma_program$ ./gemma -bfile WisAsp_BCFfiltered_VCFfiltered_vcf-merge_VCFfiltered-take2_maf05_plink_LinkImpute_LDprune_removedrelatedsamples -gk 1 -o removedrelated_K

I had tried both a centered and a standardized relatedness matrix in GEMMA (-gk 1 and -gk 2) and both of them seemed to have similar eigenva

[2017-06-29 15:14] pcarbo commented on #45
@lindrothlab Thank you for sharing. I have not seen this particular approach used before. It seems reasonable, though not immediately clear to me why it would work. I've added a "documentation" label to this Issue in case others find this approach useful.

[2017-07-03 08:45] pjotrp opened #46 "Add LOCO support for Plink format (Bimbam is in 0.97)"
We should add leave one chromosome out support to GEMMA. From what I can tell from the source code this is not particularly hard because GEMMA already tracks chromosome information. We need to recompute the kinship matrix for n chromosomes leaving one out and then rerun the LMM and run GEMMA n+1 times and present a result file with n+1 scores. I think this should be an internal feature of GEMMA an

[2017-07-07 06:26] pjotrp opened #49 "Use Unix mode for source files"
@pcarbo can we default to Unix format files? I have fixed a few compile time bugs on Linux, but you are using some other format which messes the diffs up. It should be a simple setting in your editor. I'll add a pull request. Note, I am working from the master branch and I am assuming it should be working. If it is broken in some way we should use a different branch. Currently it is broken on Linu

[2017-07-07 06:38] pjotrp commented on #49
Also set your editor to remove eol spaces.

The main file that does not use Unix format is logistic.cpp.

[2017-07-07 06:46] pjotrp commented on #49
If you want I can convert all source files to the required format in one patch set - so it is clear no real functionality changed and we can continue from there.

[2017-07-07 15:29] pcarbo commented on #49
@pjotrp Yes, please go ahead and do this (if this isn' already addressed by your pull requests). I'm quite certain that I did not introduce these eol spaces---I work on a Mac, and I have never had this issue before (it is typically a problem when collaborating with people that edit files in Windows). Thank you.

[2017-07-07 16:21] pcarbo commented on #49
See Pull Request #51.

[2017-07-07 16:21] #49 closed

[2017-07-08 09:16] pjotrp commented on #49
Thanks 👍(my) new patches should be clean from now on.

[2017-07-08 10:04] pjotrp commented on #30
I think we should close this.

[2017-07-08 10:06] pjotrp commented on #46
I am studying the GEMMA code to see how we add LOCO support.

[2017-07-08 10:08] pjotrp commented on #33
@tseemann there is still no package in bioconda. Who can do this?

[2017-07-08 10:09] pjotrp opened #52 "Provide GEMMA package in bioconda"
We have a GNU Guix package of latest GEMMA releases. It shoud be straightforward to create a bioconda package. Who wants to do this?

[2017-07-08 16:41] #30 closed

[2017-07-08 16:45] pcarbo commented on #46
Okay @pjotrp. It basically would involve an "outer loop" that would run relationship matrix creation + LMM association analysis on each chromosome. Note that I have [some R code](https://github.com/pcarbo/cfw/blob/master/R/gemma.R) that does this in case it is useful for helping to implement LOCO within gemma.

[2017-07-08 16:54] pcarbo commented on #33
@pjotrp I'm sorry, I don't have any experience with this.

[2017-07-09 03:02] tseemann commented on #33
Conda is hard ...  maybe @slugger70 can try, and use my Brew recipe as a basis:
[code]

[2017-07-09 06:57] pjotrp commented on #33
That should help. The Guix definition is here: https://git.savannah.gnu.org/cgit/guix.git/tree/gnu/packages/bioinformatics.scm?id=v0.13.0-1229-g5143517#n2712 and looks rather similar. I'll experiment with openblas soon. I'll be at the hackathon in Prague in two weeks and I may get someone to help with bioconda.

[2017-07-09 07:08] pjotrp commented on #33
Let's continue here https://github.com/xiangzhou/GEMMA/issues/52

[2017-07-09 07:10] pjotrp commented on #21
I think we can close this.

[2017-07-09 12:04] pjotrp commented on #38
Added test framework https://github.com/xiangzhou/GEMMA/pull/54

[2017-07-09 12:09] pjotrp opened #55 "Odd sized kinship file"
When running the new test testCenteredRelatednessMatrixK I get different resulting files on two build setups. One is the correct size, but the second has 1940 rows instead of 1410. The extra rows are the same as the tail of the previous - so, somehow, the output buffer gets overwritten. I'll scrutinize this more closely.

[2017-07-09 12:10] pjotrp commented on #55
Oh yes, the other tools using K don's seem to mind. They don't read the full file. So, this may have been happening before, but it did not matter for the result.

[2017-07-09 13:50] #21 closed

[2017-07-09 15:20] pjotrp commented on #46
The outer loop may be the easiest hack for now though it will be hard to make generic for all supported input formats. If you look at the code you'll see that GEMMA has an innerloop for every file type it supports. I somehow need to plug in K-1 and subset SNPs. Looks like that will be pretty intrusive to make that generic.

[2017-07-10 12:07] pcarbo commented on #55
@pjotrp Should I close this? It seems that it is not a bug after all?

[2017-07-10 12:59] pjotrp commented on #55
No, I need to figure out what happened first.

[2017-07-11 09:47] pjotrp commented on #18
https://github.com/xiangzhou/GEMMA/pull/56 fixes all warnings, including the annoying ones from Eigen, and makes warning checkings optional

[2017-07-14 00:13] Owen-haha opened #57 "Testing with covariates got errors "gsl: brent.c:202: ERROR: function value is not finite""
When try to test a SNP's association with phenotype by putting a bunch of other SNPs as covariates, returning the errors **"gsl: brent.c:202: ERROR: function value is not finite".**
Assuming there are 4 SNPs in total, SNP0, SNP1, SNP2 and SNP3.
The model likes this: Y ~ alpha1 *  SNP1 + alpha2 * SNP2 + alpha3 * SNP3 + beta * SNP0 + u + e
where SNP0 is the SNP being tested, and SNP1, SNP2 and SNP3

[2017-07-14 11:40] pcarbo commented on #57
Hi @Owen-haha, can you please give the exact `gemma` command you used? Do you get the same error if you do not include the polygenic term `u` (that is, you use the `-lm` option)? Are SNP1 –4 also being tested, or did you remove them from the genotype data file?

[2017-07-17 01:04] Owen-haha commented on #57
Hi @pcarbo , below is the command i run. I also attached a real sample here.
`gemma.0.93b -g gen_file.txt -p pheno_file.txt -a snp_info_file.txt -k realmatrix_file.txt -lmm 4 -o prefix -maf 0 -c cov_file.txt`
[gen_file.TXT](https://github.com/genetics-statistics/GEMMA/files/1151449/gen_file.TXT)
[pheno_file.txt](https://github.com/genetics-statistics/GEMMA/files/1151450/pheno_file.txt)
[snp_info_f

[2017-07-17 16:54] pcarbo commented on #57
@Owen-haha I would encourage you to download the [latest version of GEMMA](https://github.com/genetics-statistics/GEMMA/releases). Please let me know if you have trouble getting it to work.

Second, I would recommend starting with a simpler association analysis such as this:

[code]

You will find that the results aren't very interesting for your particular example because there is very little var

[2017-07-20 13:57] winterwang opened #58 "Multivariable GWAS (-lmm) has NaN values when including more than 3 phenotypes"
Hi, I would like to conduct a 5 phenotypes GWAS analysis using this great software.

I understand that there is a similar issue #45. However, we have done everything you suggested or discussed (**quantile transform each phenotype,  "second level" of standardization of relatedness matrix**)  there but still cannot fix the problem.

When the number of phenotypes included increased to >3, the calcula

[2017-07-20 15:03] pcarbo commented on #58
@winterwang I think this is a different issue from #45. Is there any way you would be able to share the data you are using? It does not even need to be the full data---it can be a single chromosome, for example. I'd like to run some tests to understand what is going on.

[2017-07-21 01:03] winterwang commented on #58
@pcarbo Thanks for the reply, I have prepared the genotype data of 22nd chromosome, as well as the phenotype data for you to test. The link to download the data folder is sent to your gmail address just now.

Thanks!

[2017-07-21 08:35] pjotrp commented on #55
Getting the same bug on my laptop. Test on master branch fails with
[code]

and

[code]

it appears it is outputting the number of individuals total, rather than the number used. @pcarbo what is the size of your output file?

[2017-07-21 22:41] pcarbo commented on #55
@pjotrp I get an output file `mouse_hs1940.cXX.txt` with 1940 lines. I think the "number of aalyzed individuals" is misleading (and confusing!) because it is about the phenotype data, which is irrelevant for computing the relatedness matrix. If you look at the phenotype file you will see that there are 530 missing phenotype values:

[code]

[2017-07-22 07:02] pjotrp commented on #55
Cool, I swear I have seen a smaller K file. Anyway, we are getting different answers on different systems, so I am looking into that.

[2017-07-25 13:24] dp0b opened #59 "Association Tests with Univariate Linear Mixed Models using a non gemma index"
Hi

I have been trying to run a univariate  linear mixed model. However I was hoping to use a grm I have made else where- it is the second in grm format. The  first few lines are as as follows

[code]
Then I am trying to run a lmm using the follow command
`./gemma.linux -bfile mouse_hs1940 -km 2 -k mouse_plinkgctasorted.txt  -lmm 2 -o mouse_plinkgctasorted`

However I keep getting the following er

[2017-07-25 18:13] pcarbo commented on #59
@dp0b Would it be possible to share the files you are using in the `gemma` command above so that I can reproduce your results? I will try to figure out why you are getting this error---if it is a bug in GEMMA, a data formatting problem, etc.

[2017-07-25 18:24] pcarbo commented on #58
@winterwang I was able to successfully run this command on my MacBook Pro:

[code]

See the attached log file.

What OS are you using? What version of gemma are you using?

[result.log.txt.gz](https://github.com/genetics-statistics/GEMMA/files/1174365/result.log.txt.gz)

[2017-07-26 01:56] winterwang commented on #58
@pcarbo Thanks for the feedback.
However, I still get nan for the command.
Previously I used latest version 0.97 downloaded from github.com, compiled and tested on my Ubuntu 16.04 machine:

[code]

I found you are using version 0.96 on a Mac Pro. So I switched to version 0.96, the problem still not fixed still on my Ubuntu 16.04 platform:

[code]

[code]

Reading SNPs kept 0.00% and not moving for

[2017-07-26 07:59] pjotrp commented on #55
Turns out that the output files are identical, but that awk gives a different result on different machines! Not a gemma problem - I'll fix the test.

[2017-07-26 07:59] #55 closed

[2017-07-26 09:11] #38 closed

[2017-07-26 09:12] pjotrp commented on #52
This GNU Guix package passes tests: https://gitlab.com/genenetwork/guix-bioinformatics/blob/5a9fa677517f1708e21ee14dcbea59ae4ec7ce08/gn/packages/gemma.scm#L64

[2017-07-26 11:46] pcarbo commented on #55
@pjotrp Interesting, thanks!

[2017-07-26 17:06] dp0b commented on #59
Hi pcarbo,
Sorry for the delay.
Attached are the files, any info would be much appreciated. They are based on the example file

Hi Peter,
So the example is using is the mouse files you provide in the example when downloading the source code. I cant upload the grm in second format on this as its to large to upload on this. This was howver generated using plink and sorted to resemble the output in t

[2017-07-27 16:16] pcarbo commented on #59
@dp0b I have not used the `-km 2` option before but my guess is that you have to give the sample ids in the first two columns, not the row indices of the samples. For example, the first line of the `mouse_plinkgctasorted.txt` file should be `A048005080 A048005080 8.923316e-01`. Can you try this and see if it works for you?

[2017-07-27 16:22] pcarbo commented on #58
@winterwang I was able to reproduce the NaN's using gemma v0.96 for Linux. It is worrying that we have a platform-dependent issue! I will look in to it.

[2017-07-27 18:19] pcarbo commented on #58
@winterwang The discovered the problem: the Linux binary provided in the GEMMA 0.96 release was linked to GSL 2.2.1, and it seems that it only works with GSL 1.x, so I linked with GSL 1.16 instead. Now I am no longer getting the NaN's. I've attached the new binary, and we will soon make a GEMMA 0.97 release available for download.

Can you please test that the attached binary works for you on your

[2017-07-27 20:16] pcarbo commented on #58
Also, I updated the binary for the [v0.96 release](https://github.com/genetics-statistics/GEMMA/releases/tag/v0.96).

[2017-07-28 00:23] winterwang commented on #58
Hi, @pcarbo . Your help is greatly appreciated. Now using the new binary you attached for me I am able to compute the command with 4 and 5 phenotypes on my Ubuntu 16.04. No more nan is created.

Thank you so much!

[code]

[2017-07-28 08:47] pjotrp commented on #58
Can we add a test to the test suite?

[2017-07-28 11:36] pcarbo commented on #58
@pjotrp Good idea. I will do that.

[2017-07-28 20:08] davidhoule opened #61 "Singular Ve matrix"
I have installed the program and can run your example data set without problem.  Similarly, I can run the program on small subsets of the SNPs with my phenotypic data.  However, when I calculate relatedness based on the whole genome, the estimates of the relatedness matrix calculated in GEMMA appear to cause problems.  I have diagnosed the relatedness matrix as the problem by using the full relate

[2017-07-29 03:12] pcarbo commented on #61
@davidhoule Your problem may be related to Issue #58. What version of GEMMA are you using, and which operating system?

[2017-07-29 18:45] davidhoule commented on #61
I am using Ubuntu 16.04.2.  I updated to version GEMMA 0.97, with the same results.  Relatedness matrix that causes problems has just one (very near 0)  negative eigenvalue.  Bending matrix to all positive eigenvalues has no effect on the error.  Other toy relatedness matrices with many negative near 0 eigenvalues run without problem.

[2017-07-29 19:36] pcarbo commented on #61
@davidhoule Can you please try downloading the pre-compiled binary for GEMMA v0.96 Linux x86  and see if that works for you? We recently uncovered a bug with linking to GSL 2.x and the bugs looks very similar to the one you reported.

[2017-07-31 19:17] davidhoule commented on #61
Tried the binary you furnished with the same result.

Then did an analysis using a relatedness matrix estimated in smartpca, part of the Eigensoft package.  With this matrix, all versions of the program will run on my toy data set.  Estimates of Ve are still 0, but  tests are produced, and there are no errors:

Reading Files ...
## number of total individuals = 184
## number of analyzed individual

[2017-08-01 01:09] pcarbo commented on #61
@davidhoule Great progress. It sounds like your siutation is related to Issue #45. In some cases it appears that a different method for computing the relatedness matrix yields more or less numerically stable results, although it is hard to say exactly what the root cause is. I believe that the computation requires tha all the eigenvalues to be positive. It might be useful to check this before runn

[2017-08-01 02:53] davidhoule commented on #61
Univariate analyses do not seem to have the problem.  The actual log.txt file does show very slightly positive estimates of Ve terms, and of all VE SE, except the one nan.

I suspect that there must be an 'effective 0' tolerance, as I have examples that run with many very slightly negative eigenvalues.

Thanks for your help with this issue.

[2017-08-02 09:55] pjotrp commented on #46
I have implemented LOCO for Bimbam format. I'll put in a PR after we agree on the coding style, see https://github.com/genetics-statistics/GEMMA/pull/62

[2017-08-02 14:02] #39 closed

[2017-08-02 21:48] pcarbo commented on #58
@pjotrp I'm having trouble reproducing the error we had earlier, and I no longer have the GEMMA binary linked to the GSL 2.x library. I suggest we close this issue---I don't think this requires an additional test.

[2017-08-03 06:24] pjotrp commented on #58
I can test GSL versions with GNU Guix. We had the same problem in GeneNetwork.org - I'll try to find a dataset.

[2017-08-03 09:50] pjotrp commented on #58
I have reproduced the problem. Will add test data to GEMMA soon - is a plink file which is good too.

[2017-08-03 11:57] pcarbo commented on #58
@pjotrp Great!

[2017-08-03 13:00] wanyuac commented on #14
Not only does the kinship file has this redundant tab at the end of each line, but also happens in the eigenU.txt file in the outputs of eigen-decomposition.

[2017-08-03 16:02] pjotrp commented on #26
We should check whether this is a duplicate of https://github.com/genetics-statistics/GEMMA/issues/58

[2017-08-06 14:53] pjotrp commented on #26
With gsl1 in both cases we get results in the assoc file . With gsl2 we get nan in the assoc file. In all cases we get se(pve) =-nan for the first fam file. So I think it is mostly a GSL issue.

[2017-08-07 18:28] pcarbo commented on #26
@xiekunwhy In case this is still useful for you, the new GEMMA v0.96 binaries should solve your problem. See also Issue #58.

[2017-08-07 18:28] pcarbo commented on #26
@pjotrp Is it okay if I close this issue? Based on your test it looks like we solved the issue.

[2017-08-07 18:48] pcarbo opened #64 "Compile error"
Hi @pjotrp, after your changes, I get the following error when running `make -f Makefile.linux` with g++ 4.8.5 and GSL 2.2.1 on RedHat Linux:

[code]

[2017-08-07 18:50] pcarbo commented on #64
I also get errors when running `make -f Makefile.macosx` on my MacBook Pro with g++ from Apple LLVM version 8.0.0 (clang-800.0.38). See the attached make output.

[make.out.gz](https://github.com/genetics-statistics/GEMMA/files/1205815/make.out.gz)

[2017-08-07 23:08] xiekunwhy commented on #26
OK，thanks you two.

[2017-08-08 14:55] pjotrp commented on #64
Yes, sorry. Remove the lines and insert include assert.h as I did in
https://github.com/genenetwork/GEMMA/commit/a97da56b1b964fbb0c64a97a6cdd7c05c63e5f3d. Would send you a patch, but I am remote and this is fastest.

[2017-08-08 14:56] pjotrp commented on #26
Please reopen if you still see a problem.

[2017-08-08 15:10] beausoleilmo opened #65 "Extracting the compiled version of GEMMA is not working"
I've been trying to use the Mac OS X version of GEMMA, but it's not working. It won't extract the files.

[code]

Also, I've tried to compile GEMMA on macOS Sierra, but it's not working.

[code]

[2017-08-08 17:23] pcarbo commented on #65
@beausoleilmo It works for me. Did you download the binary from [the latest release](https://github.com/genetics-statistics/GEMMA/releases/tag/v0.96)?

We are working on improving the Makefile for building from source. You will need to edit `Makefile.macosx` and point to the GSL library installed on your computer. Note you need to use GSL 1.x; it is not compatible with GSL 2.x. One convenient appr

[2017-08-08 18:55] beausoleilmo commented on #65
OK! That works from this repository. Just letting you know that [on this page](http://www.xzlab.org/software.html) if you download the program, it's not working...

[2017-08-08 18:55] #65 closed

[2017-08-14 01:23] #64 closed

[2017-08-14 10:20] pjotrp commented on #58
Looks like the fix of issue 26 also fixes the GSLv2 for this issue. Test that fails on master coming up.

[2017-08-14 11:44] pjotrp commented on #61
Possibly this is fixed by https://github.com/genetics-statistics/GEMMA/pull/69. Please try the next release. If it does not resolve send me a dataset.

[2017-08-14 11:49] #18 closed

[2017-08-14 11:49] #13 closed

[2017-08-14 11:52] pjotrp commented on #29
I am closing this issue. Yes, we should have proper error handling. But it is a largish subject. Best to keep adding enforce_msg statements etc.

[2017-08-14 11:52] #29 closed

[2017-08-14 11:52] #24 closed

[2017-08-14 11:57] #27 closed

[2017-08-14 12:16] #31 closed

[2017-08-14 12:36] pjotrp commented on #42
@pcarbo any reason to keep this issue open?

[2017-08-15 02:56] #42 closed

[2017-08-15 05:35] pjotrp commented on #14
Should be fixed now.

[2017-08-15 05:35] #14 closed

[2017-08-15 13:10] pjotrp commented on #45
To make sure this was not related to my fixes over the last days I have replicated this issue and added a test for positive definite after loading K. It is interesting to note that mvlmm runs 'forever' with the first se_ve nan example and works with the adjusted K. Both K's are positive definite. I should check also for symmetry.

I think we should add an option in GEMMA to adjust K as described a

[2017-08-15 20:43] xiangzhou commented on #46
I agree.

[2017-08-15 21:07] pcarbo commented on #46
@pjotrp Sounds like a good plan to me!

[2017-08-15 21:14] pcarbo commented on #45
@pjotrp There is already a `-maf` flag for filtering out SNPs based on minor allele frequency.

Dropping related pairs is an interesting idea.

My experience is that if a kinship matrix is not s.p.d. then there is something wrong with your relatedness calculation; while useful as a last resort, I don't think we should add the above solution as a feature to GEMMA---I don't think it is good practice

[2017-08-16 15:31] jcgrenier commented on #24
Hi @pcarbo  @thorellk and @guokai8

Sorry for the late reply. I managed to install it on a Unix system finally. I didn't try again on my personal machine.
Thanks for all the help!

[2017-08-17 11:14] dp0b commented on #59
Aghh yes, sorry about. Thank you very much for your help.

I was also wondering about the weights file? I have a weight calculated as effective record contribution (ERC) which ranges from 0.1 to 804. I have tested a few versions of including this as weight but would like your input as to what should be the correct version.  Does the weight value need to be less than one? I have tried including jus

[2017-08-17 19:06] pcarbo commented on #59
@dp0b Are you referring to the `-widv` option in GEMMA?

[2017-08-17 20:13] lfelipe-ferrao opened #71 "mvLMM and marginal pvalues"
Hello ,
I intend to use the mvLMM to find eventual positive pleiotropic effects in plants traits. GEMMA provides pvalues only for the so-called  "full test" (ie, it will test if the marker effect for the phenotype is different from zero). However, I also would like to get the marginal pvalues (in my notation, marginal pvalues means a hypothesis test for each phenotype, as if we are fitting a univa

[2017-08-17 21:09] dp0b commented on #59
Sorry yes I am,if you have any information on the format they should be in it would be much appreciated

[2017-08-18 09:48] xiangzhou commented on #71
Yes, you can use the univariate model to get these marginal pvalues. The univariate marginal pvalues are helpful to illustrate which trait(s) drives the multivariate signal, but they are not always consistent with multivariate p-values. For example, as we mentioned in the paper, it is possible that the multivariate p-value for two traits are significant, but the univariate p-values for either trai

[2017-08-18 12:15] #71 closed

[2017-08-19 09:40] pjotrp commented on #45
I have added more checks for the state of K, see https://github.com/genenetwork/GEMMA/blob/issue45/src/gemma.cpp#L1894 (don't merge this branch just yet, I need to clean it up).

When checking above corrected normalizedKinshipForGEMMA.cxx.txt I find it still has small eigen values (1.9e-15):

[code]

@xiangzhou at what level should we warn about small eigen values? I have set it to 1e-6. A warning

[2017-08-19 13:49] pcarbo commented on #45
Thanks @pjotrp. Giving a warning is a great idea. However, what is important is the ratio of the largest and smallest eigenvalues; this is the [condition number of a matrix](https://en.wikipedia.org/wiki/Condition_number). This tells us how numerically stable the linear system is.

[2017-08-20 06:20] pjotrp opened #72 "Check matrix properties"
GEMMA should give hints if matrix properties are invalid, such as discussed in https://github.com/genetics-statistics/GEMMA/issues/45#issuecomment-323524276. E.g.

1. Fail if K has negative eigen values
2. Fail if K is not symmetric
3. Fail if K is not positive definite
4. Warn in eigen values are very small
5. Warn if K is ill conditioned
6. Warn on related pairs
7. Warn on MAF problems

@xiangzh

[2017-08-20 07:39] pjotrp commented on #26
Running the test with my latest checks

[code]

we now get

[code]

So, it looks like the Kinship matrix is a problem.

[2017-08-20 07:50] pjotrp commented on #61
@davidhoule can you send me the toy dataset?

[2017-08-20 09:34] pjotrp commented on #72
Implemented points 1..5 in PR https://github.com/genetics-statistics/GEMMA/pull/73

[2017-08-20 13:20] xiangzhou commented on #59
The weight file contains a column of positive values to be used as weights for residuals. Every weight corresponds to an individual, and a high weight represents high residual error variance for this individual. The file is similar to the phenotype file with one phenotype or the covariate file with one covariate.

[2017-08-21 08:12] pjotrp commented on #45
this piece nicely describes ins and outs of non-positive definite matrices and adding values to the diagonal such as done in this issue: http://www2.gsu.edu/~mkteer/npdmatri.html

[2017-08-21 15:12] boo62 opened #74 "Relatedness matrix -n argument"
I am confused about the -n argument when creating the relatedness matrix. This is supplied in line 117 in example/demo.txt to generate a relatedness matrix based on the training data. As the resulting matrix has values for all individuals, not just those with missing values, I was wondering what difference the argument makes to the calculations.

[2017-08-21 15:35] pcarbo commented on #72
@pjotrp That is a great summary. The cholesky factorization methods in most libraries has a check for a matrix being s.p.d. (symmetric positive definite), so you could use this to implement item 4.

[2017-08-21 16:26] pcarbo commented on #74
@boo62 If you try with `-n 1` and `-n 2` you will get slightly different relatedness matrices. I agree it is unclear why this is happening; intuitively the relatedness matrix should be the same regardless of the choice of phenotype used, but I will forward this question to Xiang.

[2017-08-21 16:49] pcarbo commented on #59
@xiangzhou I added this description to `gemma -h` and to the PDF manual in commit 3a06aee.

[2017-08-21 17:18] pcarbo commented on #26
Based on followup discussion, this may not necessarily be an issue because the centered relatedness matrix is expected to have one zero eigenvalue. More to come---

[2017-08-21 17:23] pcarbo opened #75 "Add MacOSX build environment to Travis CI"
You can add osx in the matrix, e.g., [here](https://github.com/jenkinsci/ansicolor-plugin/pull/60/files). In fact, you can automatically generate a latest-release by pushing to
dropbox (or something) [as Artem did](https://github.com/lomereiter/sambamba/blob/master/.travis.yml).

*Note:* Currently the compiler options in the Makefile do not appear to be compatible with the XCode version of gcc (e.

[2017-08-21 20:56] pcarbo commented on #12
Added explanation for the manual in commit c7cbd8b.

[2017-08-22 13:34] xiangzhou commented on #74
Different -n option will determine how many samples/individuals are used to compute maf, which is used further to determine which set of SNPs are used for the computation of K. For example, -n 1 option may use 1000 individuals to compute maf, while -n 2 option may use only 100 individuals to compute maf. Therefore, the two different options will lead to slightly different K matrices.

[2017-08-22 14:54] pcarbo commented on #74
Thanks @xiangzhou. @boo62 Is that explanation clear to you?

[2017-08-22 15:16] boo62 commented on #74
Yes, that's cleared things up. Thanks.

[2017-08-23 17:16] thorellk opened #77 "Inflated p-values using GEMMA on haploid organisms?"
Dear Pjotr and Xiang,

We have been running GEMMA on bacterial data, attempting to find epistatic interactions by encoding the alleles at one of the loci as a phenotype and testing its interaction with the other locus. The answers that GEMMA gives are correlated with the truth, but appear to have widely inflated significance values. Another noticeable feature is that for many loci p_score is much

[2017-08-24 03:26] pcarbo commented on #77
@thorellk This sounds like very interesting work.

When possible, I recommend using the likelihood ratio test (`-lmm 2`), which does not make as many approximations as the other tests (e.g., Wald, score).

There are many possible explanations for the behaviour you are observing---it would be difficult to pinpoint the cause here. One likely explanations is that you have "outliers" in your data set;

[2017-08-26 06:31] pjotrp opened #78 "GSL ERROR: matrix is singular in lu.c at line 266 errno 1"
Two covariates an older gemma with GSL1 gives NaN output and the new GSL shows above error. Looking into it...

[2017-08-26 09:41] pjotrp commented on #78
Turns out the covariates were highly correlated. With GSL1 no error was reported. GSL2 does the right thing.

[2017-08-28 12:56] roslen opened #80 "gsl: init_source.c:29: ERROR: matrix dimension n1 must be positive integer"
Error from a basic call as shown below. The bfile was used previously in emmax and gcta without issues.
gemma -bfile <bfile_prefix> -gk 1 -o <test_output>

[2017-08-28 18:29] roslen commented on #80
I should have read the manual first. Sorry guys. This is not a gemma issue. :)

[2017-08-28 18:29] #80 closed

[2017-08-28 21:36] pcarbo commented on #80
@roslen Thanks for letting us know! And please tell us if the manual wasn't clear.

[2017-08-29 01:32] pcarbo commented on #78
@pjotrp Yes, that's exactly what you want---a point to GSL 2.x.

[2017-08-29 04:44] pjotrp commented on #78
Maybe we should report the GSL version at runtime (I now do it at build time)

[2017-08-29 13:58] Owen-haha commented on #12
How about the beta in the output file? Is there any transformation for beta? How to interpret it?

[2017-08-29 15:29] pcarbo commented on #78
@pjotrp I fully support that idea. Hopefully there is a GSL function that will provide this info?

[2017-08-29 15:39] pcarbo commented on #12
@Owen-haha These would be maximum likelihood estimates (MLE) or the restricted maximum likelihood estimates (REML) of "beta" (the regression coefficient for the genotype) in the LMM model (e.g., see Sec. 1.3.1).

[2017-08-29 22:59] Owen-haha commented on #12
yep, but I still find it difficult to biologically interpret as effect size. How much effect does a genotype to the phenotype given the beta value? Relatively, the bigger the beta value, the larger the effect size.

[2017-08-30 02:31] pcarbo commented on #12
@Owen-haha The short answer is that the absolute value of beta is the effect size; and indeed it is related to the log of the odds ratio in logistic regression. The units would depend on how you encode the phenotype and the SNP genotypes. So your intuition is generally correct.

There are more subtle issues about interpreting regression coefficients as effect sizes in an LMM. You may have to sit d

[2017-08-30 02:39] pcarbo commented on #12
@Owen-haha I should also add that "proportion of variance in phenotype explained by genotype" (PVE) is usually a more precise and interpretable measure of the "effect size." I find that experimenting with the `lm` function in R is a great way to learn about these concepts; it provides estimates of both the regression coefficients and the PVE.

[2017-08-30 08:48] Owen-haha commented on #12
@pcarbo Thanks so much! The basic function in R is really a good way to start with.
I did some readings on LMM, but still hard to interpret the coefficients (let alone effect size).
I tried to interpret as odds ratio, and there should be transformation because the coefficients contain negative values. But I am not sure what transformation? Log based on e or 2, or others ?
The coding is as below.

[2017-08-30 13:12] xiangzhou commented on #12
The beta estimates from LMM is different from that of a logistic regression. But you can translate and calculate an approximated odds ratio from the beta estimates in LMM. Specifically, for the beta/odds ratio transformation, let's first assume the logistic model you are interested in is p(y_i=1)=exp(m+x_i*b)/(exp(m+x_i*b)+1), where m is the intercept, y_i is the phenotype and x_i is the genotype

[2017-08-31 02:51] wanyuac opened #81 "Why not printing out beta and se(beta) under -lmm 2?"
Hello,

GEMMA (v0.96 and earlier versions) does not print the MLE of beta and its standard error when the likelihood-ratio test is used (-lmm 2), whereas it does print the REMLE of beta and se when the Wald test is used.

Column names under -lmm 1
chr	rs	ps	n_miss	allele1	allele0	af	beta	se	l_remle	p_wald

Column names under -lmm2
chr	rs	ps	n_miss	allele1	allele0	af	l_mle	p_lrt

May I have any rea

[2017-08-31 07:07] DongHyeok-Micro opened #82 "Please help me with a problem(Illegal instruction)"
I want to run GEMMA but i get the following error with example file
<Reading Files ...
Illegal instruction>

I am not familiar with Linux and can not find a solution on Google.
What do i do with that problem?

Thank you in advance for your reply.

[2017-08-31 13:15] pjotrp commented on #82
Can you give the full command and the full output that you get?

[2017-08-31 13:28] Owen-haha commented on #12
It is much clear now!
How about the `lmm` model with **covariates**?  Does this relation still hold?
My intuition is that there could be some differences. Am I right?

[2017-08-31 16:24] pcarbo commented on #12
@Owen-haha The decsription that Xiang gave is not specific to LMMs---it applies to linear regression more generally. So it would also apply equally to the covariates as well.

[2017-08-31 16:25] pcarbo commented on #82
@DongHyeok-Micro Also, please tell us what version of GEMMA you downloaded, and what operating system you are using.

[2017-09-01 04:23] DongHyeok-Micro commented on #82
I tried running the program through another server and it worked fine.
Maybe it was a version issue.
GEMMA 0.96
openSUSE 12.2 "Mantis"
Linux version 3.4.6-2.10-desktop
(These are the versions, right?)

[2017-09-01 04:23] #82 closed

[2017-09-01 15:53] pcarbo commented on #81
@pjotrp @xiangzhou These seem like reasonable requests. Is there any particular reason GEMMA is not outputting these columns, or is this an oversight?

[2017-09-01 18:34] xiangzhou commented on #81
This is indeed an oversight. It would be useful to output these.

[2017-09-04 04:53] wanyuac commented on #81
Many thanks for your replies.

[2017-09-04 06:23] Owen-haha commented on #12
Regarding the `PVE`, only PVE estimate in the null model can be found in the *.log.txt file. Why there is no PVE estimate in the alternative model? Can it be obtained easily by hand?
In my running, PVE estimate in the null model were high (~0.8) in some cases and low (~0.005) in other cases. Is it safe to apply the `lmm` with these extreme PVE estimate?

[2017-09-04 09:04] thorellk commented on #77
Thanks a lot for your fast reply @pcarbo!

I reran starting by filtering out everything with an allele frequency of < 2% and the results looks much more reasonable and even more when increasing the cutoff to 5%. We will now increase the sample size and rerun and even more look into the distribution of phenotypes and removal of outliers for that dataset. Also, we can limit our testing to the -lmm 2

[2017-09-04 17:37] pcarbo commented on #77
@thorellk Sounds good, thanks for sharing!

[2017-09-04 17:42] pcarbo commented on #81
@pjotrp I've labeled this as an "enhancement" to be incorporated at some point into a new release, whenever you have a chance to get to it.

[2017-09-04 17:53] pcarbo commented on #12
Yes, the PVE for a single SNP (assuming no covariates) is

[code]

where `x` is the genotype vector. Note that the estimate and standard error (se) is provided for `-lmm 1` (see Issue #81).

Absolutely. It is very common that the PVE estimates will be different for different phenotypes.

@xiangzhou?

[2017-09-05 07:10] Owen-haha commented on #81
When running GEMMA with `-lmm 4`, there is only one beta, but two lambda values (`l_remle` and `l_mle`). Is this beta estimated by remle or mle? I  cannot find hint in the manual.

[2017-09-05 10:06] xiangzhou commented on #12
I am not aware of any references. This is just based on a simple Taylor expansion argument, and I presume you don't need to cite anything for Taylor expansion.

[2017-09-05 10:19] xiangzhou commented on #81
The beta is estimated from remle. In fact, no beta is computed when performing likelihood ratio test.

[2017-09-12 02:17] #74 closed

[2017-09-12 02:18] pjotrp commented on #61
No response

[2017-09-12 02:19] pjotrp commented on #59
I think we can close this?

[2017-09-12 02:22] pjotrp commented on #46
https://github.com/genetics-statistics/gemma-wrapper now runs all chromosomes and caches results too.

Leaving issue open until I add LOCO to Plink.

[2017-09-12 02:23] pjotrp commented on #40
Eigen is removed from the source repo. It is fine now.

[2017-09-12 02:23] #40 closed

[2017-09-12 02:25] pjotrp commented on #26
Yes, the centered relatedness has one zero eigen value. Reporting is fixed now. Please reopen if you encounter issues again.

[2017-09-12 02:25] #26 closed

[2017-09-12 02:26] pjotrp commented on #12
I think we can close this issue.

[2017-09-12 02:35] pjotrp commented on #78
Done in https://github.com/genetics-statistics/GEMMA/pull/83. Also added Eigen version.

[2017-09-12 02:35] #78 closed

[2017-09-12 13:14] #59 closed

[2017-09-12 13:16] #12 closed

[2017-09-12 13:19] pcarbo commented on #78
@pjotrp Great!

[2017-09-13 08:11] prasunanand opened #84 "make error"
`make -j8` leads to an error
[code]

[2017-09-13 12:47] pcarbo commented on #84
@prasunanand It looks like you are using Ubuntu? Have you installed GSL 1.x or GSL 2.x? Do you know where GSL is installed on your computer?

@pjotrp It doesn't look like we have variables in the Makefile specifically for the location of the GSL library and include files. What Makefile variable do you recommend setting for this when the include & library files are in a nonstandard location?

[2017-09-13 13:02] pjotrp commented on #84
I link against non-standard libgsl to test versions. There is an example of use in: https://github.com/genenetwork/GEMMA/blob/master/INSTALL.md

[2017-09-13 13:06] pjotrp commented on #84
You can add overriding variables, but I prefer to keep it simple and stick to the common case. And we have a way to set the include search path and library loads.

[2017-09-13 13:10] pcarbo commented on #84
@pjotrp I'm looking at this command:

[code]

How does it work without adding `-I$HOME/opt/gsl1/include` in `GCC_FLAGS`? This is normally what I would do.

[2017-09-13 13:46] pjotrp commented on #84
Default behaviour of the Makefile should just pick up what is on the system. If you need to override include files or libraries (something that is *not* common), simply use above command. @prasunanand GSL is standard in Linux distributions and should work out of the box. Look at the .travis script to see how it is done. https://github.com/genetics-statistics/GEMMA/blob/master/.travis.yml

[2017-09-13 14:38] prasunanand commented on #84
@pcarbo I have `GSL2.1` on my machine.

[code]
@pjotrp I followed the .travis script. I reinstalled everything and yet the same error.

[2017-09-13 15:07] prasunanand commented on #84
I found the issue .
`gsl_linalg_cholesky_decomp1` has been introduced in GSL 2.3.
The current code expects it  to be introduced in GSL 2.0.

http://git.savannah.gnu.org/cgit/gsl.git

I am submitting a patch.

[2017-09-13 15:10] pcarbo commented on #84
Wonderful @prasunanand! That is very helpful.

[2017-09-13 15:14] pjotrp commented on #84
Good. Check for the minor GSL version too.

[2017-09-13 15:17] prasunanand commented on #84
Yeah, I am doing that.
[code]

[2017-09-13 15:19] pjotrp commented on #84
Do not nest if statements. This is ugly.

[2017-09-14 02:47] Huangyizhong opened #86 "GEMMA gwas results ,the p_value is different"
Hello:
   These days I use the GEMMA software to do the Genome-wide association study, the model is Univariate Linear Mixed Model .We use the same genotype and  phenotype following the same codes. But p_value of p_wald is different, though the top snp name is same one. I have checked centered relatedness matrix is different. But why? Sorry to disturb！
Thanks

[2017-09-14 07:12] #84 closed

[2017-09-14 11:39] pcarbo commented on #86
@Huangyizhong I'm glad to hear that you are finding GEMMA useful.

The likelihood ratio test *p*-value is generally preferred over the Wald because it makes fewer approximations. Use `-lmm 2` to compute these *p*-values.

There are different ways to compute the relatedness matrix. Please see p. 19 of the manual for details on this.

I'm not quite sure I understand your question---if you provide me

[2017-09-14 13:36] pcarbo opened #87 "Improve instructions for using & adapting Makefile"
Provide more guidance for compiling GEMMA on Mac and Linux. Instructions could be added as comments in the `Makefile` and/or included in INSTALL.md. Most importantly, it isn't clear which variables should be modified to specify the locations of the GSL & BLAS libraries and include files.

[2017-09-18 03:51] skoyama427 opened #88 "Compile error"
I download and try to use precompiled version of gemma(linux). But it did not work(core dump)

[code]

And I am now trying to compile by myself.
But I got such errors.

[code]

How does it work ? I use libgsl2.1, should I replace it?

Many thanks.

[2017-09-18 08:05] Huangyizhong commented on #86
Glad to receive the answer from you and sorry to reply so late. I had found the reason  why the p value of p_wald was different among other people with the same data.Because they used  variant edition of plink software to control the genotype!
 Thanks again
 sincerely!

[2017-09-18 11:27] pcarbo commented on #86
@Huangyizhong Thanks for the update.

[2017-09-18 11:27] #86 closed

[2017-09-18 11:34] pcarbo commented on #88
@skoyama427 First of all, could you tell us more about using the precompiled version of GEMMA? Were you able to get other GEMMA commands in the mouse demo to work successfully (e.g., `-lmm`)?

For compiling GEMMA, it sounds like your installation of GSL may be in a non-standard location, and gcc can't find the include and/or library files. Do you know where the GSL include files (e.g., `gsl_vector

[2017-09-18 11:36] pcarbo commented on #88
@skoyama427 Actually, my mistake… I think the issue is that you need to install `GSL >= 2.3`. Please see Issue #84.

[2017-09-19 03:57] skoyama427 commented on #88
Thanks, pcarbo

I updated to gsl 2.4 then compile was completed, however I found error below

`
./gemma: error while loading shared libraries: libgsl.so.23: cannot open shared object file: No such file or directory
`

And also I tried precompiled gemma again, I can execute -lm option however, when I tried -lmm option after the calculation of relatedness-matrix, I encountered the error below

`
../

[2017-09-19 10:45] pcarbo commented on #88
@skoyama427 Okay, you have made some progress. One possibility is that you need to set `LD_LIBRARY_PATH` so that your shell environment knows where to find the GSL library. See for example [here](https://stackoverflow.com/questions/13428910/how-to-set-the-environmental-variable-ld-library-path-in-linux).

[2017-09-20 10:13] skoyama427 commented on #88
Finally I could exec gemma with your help.
Match thanks!

[2017-09-20 11:45] #88 closed

[2017-09-20 16:25] pjotrp commented on #88
LD_LIBRARY_PATH should not be used, e.g., http://xahlee.info/UnixResource_dir/_/ldpath.html.

You do not need that. Better specify the LIBS as shown in https://github.com/genetics-statistics/GEMMA/blob/master/INSTALL.md#install-from-source

[2017-09-28 04:19] white002 opened #89 "I can't start the gemma software"
when I used the command './gemma.linux', it showed me an error : '' error while loading shared  libraries : libgfortran.so.3: cannot open shared object file: no such file or directory''
how can i fixed this problem ?

[2017-09-28 15:26] pcarbo commented on #89
@white002 Can you tell us a little more about your setup? (operating system, version of gcc you have, etc) It looks like either you do not have gfortran installed, or it is in a non-standard location on your computer, and therefore GEMMA is unable to find it. (I noticed that we failed to mention that gfortran is used to build the software; we should add this info somewhere.)

[2017-09-29 08:21] tseemann opened #90 "Time for GEMMA 0.97 ?"
It's been 150 commits since.  Is it getting close to stable?

[2017-09-29 09:17] #77 closed

[2017-09-29 09:19] thorellk opened #91 "Multithreading gemma?"
Hi!

Is there any way of getting gemma to efficiently utilize e.g. a 16 core system?

Best wishes,

Kaisa

[2017-09-29 12:02] pcarbo commented on #91
@thorellk Yes, but you would have to build GEMMA from source. I recommend linking to [OpenBLAS](http://github.com/xianyi/OpenBLAS). What operating system are you using? Let us know if you need help with configuring the Makefile.

[2017-09-29 14:40] thorellk commented on #91
Thanks @pcarbo, I am working on this computational cluster http://www.uppmax.uu.se/resources/systems/the-milou-cluster/ What specs would you need to know?

[2017-09-29 14:47] pcarbo commented on #91
@thorellk Great, that is actually quite similar to the [U of C compute cluster](https://rcc.uchicago.edu/docs/using-midway/#types-of-compute-nodes). To start, you should find out whether the required libraries (GSL, OpenBLAS / ATLAS / Intel MKL) are installed on the cluster, and find their locations. And you also need to locate a suitable version of gcc & gfortran. See [here](https://github.com/ge

[2017-09-29 14:49] pcarbo commented on #91
@thorellk You will also need to change some of the variables in the Makefile so that `gcc` is able to find these libraries on your system.

[2017-09-29 14:51] thorellk commented on #91
Thank you @pcarbo, I will check up those details!

[2017-09-30 10:45] pjotrp commented on #91
OpenBLAS solves part of the problem. We are actually working on a faster GEMMA. It is a work in progress. More later this year, I hope.

[2017-09-30 10:48] pjotrp commented on #90
It is stable. Just need to check these really. https://github.com/genetics-statistics/GEMMA/milestones

[2017-10-02 10:37] thorellk commented on #91
@pcarbo: We do have OpenBLAS v 0.2.19, ATLAS, and gsl v 2.3 installed as a modules on the server. Would you recommend me installing the last stable version or the development version?

@pjotrp: Nice to hear, looking forward :)

[2017-10-02 12:18] pcarbo commented on #91
@thorellk Great. I would start with the most recent stable release (v0.96) since the issues are better known, but know that we will soon have a new stable release (0.97). Let us know if you need advice modifying the `Makefile`. You make find it useful to consult the `Makefile.linux` file, which was used to build GEMMA on the U of C compute cluster (also using modules), but be warned this Makefile

[2017-10-03 13:32] thorellk commented on #91
Yes, it would be really helpful to get some advice for the Makefile configuration @pcarbo

[2017-10-03 14:30] pcarbo commented on #91
@thorellk The main change you will need to make is to add `-I` and `-L` flags to variable `GCC_FLAGS` so that the compiler knows where to find the BLAS & GSL library and include files. Do you know where the BLAS (e.g., ATLAS) and GSL libraries are found on the compute cluster? Your sys admin may be able to help with this (or perhaps there are GSL & ATLAS modules). Also, you will need to find out w

[2017-10-04 06:11] pjotrp commented on #91
Also read INSTALL.md. It is all there. https://github.com/genetics-statistics/GEMMA/blob/master/INSTALL.md

[2017-10-05 12:11] pjotrp commented on #81
Should be fixed now with https://github.com/genetics-statistics/GEMMA/pull/92. Also logl_H1 output added. Please test.

[2017-10-05 12:12] #89 closed

[2017-10-05 12:13] pjotrp commented on #87
I think it is clear from the Makefile and INSTALL doc. At least for Linux.

[2017-10-05 12:15] pjotrp commented on #72
1-4 have been implemented. 5 and 6 probably show up now as warnings.

[2017-10-05 12:19] pjotrp commented on #58
This has been fixed and tests added in https://github.com/genetics-statistics/GEMMA/pull/92. Note that if you get NaNs again, it is probably due to highly correlated phenotypes/covariates. Please reopen if an issue resurfaces.

[2017-10-05 12:19] #58 closed

[2017-10-05 12:21] pjotrp commented on #81
In the release notes we should state that the output has changed.

[2017-10-05 12:38] #57 closed

[2017-10-06 08:06] pjotrp commented on #46
AnalyzeBimBam and AnalyzePlink contain duplicate logic - and they
differ now because the first has LOCO support. To add LOCO support to
PLINK we'll converge on logic and make the functions DRY.

The functions can be split into:

1. Initialization
2. Partially read genotype data (batch processing)
3. LMM on the submatrix
4. Collate the results
5. Cleanup

The only thing specific regarding the input

[2017-10-06 08:09] pjotrp commented on #81
With a PR merge and confirmation this works we can do the 0.97 release.

[2017-10-07 09:12] hxtao opened #93 "Permutation with GEMMA"
Hi 👍
 When I was working on GWAS, I had trouble using GEMMA software.For the results of the GEMMA software,i want to use permutation method to correct my GWAS results.
 Permutation method, I usually  keep the genotype of the individual will remain unchanged, individual phenotypes within groups randomly swap 10000 times, each time to compute a p value (ten thousand), and then select all the minimum

[2017-10-07 20:42] pcarbo commented on #93
@hxtao Please see [this R script](https://github.com/pcarbo/cfw/blob/master/R/map.qtls.gemma.R) for an example of implementing a permutation test using GEMMA. There is no built-in function in GEMMA to do this.

Note that permuting the phenotypes while keeping the genotypes fixed is technically not valid when there is populations structure / unequal relatedness in your data set. See [this paper](ht

[2017-10-09 09:39] pjotrp opened #94 "Calcab() is never invoked"
@prasunanand has discovered that param0->ab is never properly calculated in CalcLambda() which is probably erroneous. Calcab() is never called in the code.

[2017-10-09 15:46] white002 opened #95 "How to open the gemma software"
hi, I have a question when I opened the gemma software in linux,
I have an error told the <error while loading shared libraries : libgfortran.so.3: cannot open shared object file: no such file or directory>
Please tell me how to fix it, thank you

[2017-10-09 15:51] pcarbo commented on #95
@white002 You posted Issue #89 twelve days ago, and you did not respond to our questions. Is this the same error, or a different one?

[2017-10-09 16:23] white002 commented on #95
I'm so sorry, I can't found my question, so I posted it again.
I will read the last question answer, thank you for your remind.

[2017-10-09 16:26] white002 commented on #89
I only download the gemma software version 0.96 and open it.
I think I don't have gfortran installed, where can I install the gfortran?
thank you for your answer.

[2017-10-09 16:31] white002 commented on #95
I only download the gemma software version 0.96 and open it.
I think I don't have gfortran installed, where can I install the gfortran?
I download the GSL libraries but it does't work?
Is that right to download the GSL libraries first?
thank you for your answer.

[2017-10-09 17:12] white002 commented on #95
@pcarbo
Thank you for your answer,
I can use the software when I download the gfortran,
very thank your for your answer.

[2017-10-09 18:38] #95 closed

[2017-10-09 21:41] pcarbo opened #96 "Assignments inside if statements"
Not sure if any of these are bugs introduced by Pull Request #92---just double-checking:

[code]

Feel free to close if not.

[2017-10-09 21:42] pcarbo opened #97 "count_small >= 0"
This does seem like a small (perhaps inocuous) bug:

[code]

[2017-10-09 21:48] pcarbo opened #98 "__ASSERT_VOID_CAST undeclared"
This is an error I get after merging Pull Request #92. I'm not quite sure how to fix this---I'm having trouble understanding the code in `debug.h`. Please see the attached output from compiling on my MacBook Pro.
[make.err.gz](https://github.com/genetics-statistics/GEMMA/files/1369910/make.err.gz)

[2017-10-10 10:03] pjotrp commented on #96
It is legal C++. But I changed the code a bit, so it should not complain again.

[2017-10-10 10:09] pjotrp commented on #98
It has been part of gcc since forever: https://code.woboq.org/userspace/glibc/assert/assert.h.html. I'll make sure it works on other compilers.

[2017-10-10 10:11] pjotrp commented on #97
That is actually a bug :)

[2017-10-10 10:49] pjotrp commented on #98
https://github.com/genetics-statistics/GEMMA/pull/99

[2017-10-10 10:49] pjotrp commented on #97
https://github.com/genetics-statistics/GEMMA/pull/99

[2017-10-10 10:49] pjotrp commented on #96
https://github.com/genetics-statistics/GEMMA/pull/99

[2017-10-10 11:54] pcarbo commented on #98
@pjotrp Perhaps the Apple gcc compiler does not include it:

[code]

[2017-10-10 11:57] pjotrp commented on #98
If it is still a problem experiment a bit: https://stackoverflow.com/questions/1695847/what-is-assert-void-cast-0#1695857

[2017-10-10 17:39] pcarbo commented on #96
@pjotrp Here's one more:

[code]

[2017-10-10 17:52] pjotrp commented on #96
Doh. Again perfectly legal C++.

I think we should add clang to the travis testing.

You can fix it easily if you like.

[2017-10-10 17:57] #96 closed

[2017-10-10 18:33] pcarbo commented on #81
@pjotrp With `-lmm 2`, I now see `logl_H1` and the standard error (se), but no beta estimate column. Should there be one?

[2017-10-11 11:11] pjotrp commented on #81
beta should not be seen for LRT according to @xiangzhou's comment above. So I wrote https://github.com/genetics-statistics/GEMMA/commit/86323ccaf26ad0a3b706a67a0014dd04b9965823#diff-f9c43469f48c6abce4b57e1fdd4c329aR110

[2017-10-11 12:45] pjotrp commented on #81
In fact, for lmm2 we should also not display se!

[2017-10-11 20:29] pcarbo commented on #81
@pjotrp In principle one should be able to compute the mean and s.e. of beta if the likelihood is being computed, but doing this will involve a little bit more work, so perhaps we could postpone fixing this issue for now.

[2017-10-17 17:08] 666wisteria opened #101 "Problem including additional covariates in GEMMA lmm"
Hi,

I've been using GEMMA to run a linear mixed model on separate mouse populations with success. I'm now interested in running a mega-analysis including two major mouse populations, and I intend to code the populations as 0 and 1. In addition to population, I am also using sex and body weight at covariates. When I used three covariates together and run GEMMA, I got Nan values for all the estimat

[2017-10-17 17:47] pcarbo commented on #101
@666wisteria Do you get NaN's for all SNPs on chromosome 18? Are you running GEMMA separately on each of the chromosomes?

[2017-10-17 18:42] 666wisteria commented on #101
Yes, I am running GEMMA separately on each chromosome. I am also using the
leave-one-chromosome-out approach, so the kinship matrix for each
chromosome is calculated by all other autosomal chromosomes.

Sincerely,

Xinxin

On Tue, Oct 17, 2017 at 10:59 AM, Peter Carbonetto <notifications@github.com

[2017-10-17 20:06] 666wisteria commented on #101
And yes, I get NaN for all SNPs on chromosome 18 and chrmosome X. I've been playing around with the chr18 dosage file, and we've found that if I eliminate a random set of 3 SNPs from chr18, I get normal p values and estimates. I've tried eliminating the 3 beginning SNPs, 3 SNPs in the middle of the file, and the last 3 SNPs, GEMMA runs fine. This phenomenon is bizarre.

[2017-10-17 23:03] irn-alex opened #102 "GWAS"
I tried to fit a relationship matrix with 3 columns (id id value) for GWAS analysis in GEMMA but couldn't run the job. The GWAS analysis works fine without fitting GRM.

This is the command I used:

[code]

The error message:

[code]

Regards,
Alex

[2017-10-18 00:20] angelaparodymerino opened #103 "How convert .vcf file into BIMBAM mean genotype file?"
Hi,

I want to run GEMMA including population structure as covariate, and according to the manual I can only do this through the second input format file for GEMMA, which is called BIMBAM file format. I tried many things to get this BIMBAM mean genotype file (from my .vcf file) but without success. Could someone explain more in detail how to convert a .vcf file into BIMBAM mean genotype file?

Tha

[2017-10-18 00:37] pcarbo commented on #103
@angelaparodymerino Use the `--recode` option in plink2; see [here](http://www.cog-genomics.org/plink/1.9/data#recode) for details. The command will be something like `plink --file myped --recode bimbam --out mybimbam`. You should double-check that the resulting file is in the same format as described in the GEMMA manual.

[2017-10-18 00:53] pcarbo commented on #102
@irn-alex If you can provide your files `test` and `test.grm` somehow, I can take a look. It is hard to say what could be going wrong without looking at your relationship matrix. You could also try using the `-eigen` option to first compute the eigendecomposition of your matrix.

[2017-10-18 00:56] pcarbo commented on #101
@666wisteria Adding or removing SNPs should have no impact on the LMM analysis because the SNPs are analyzed independently. Maybe try removing the SNPs from your file, then adding them back in at a different location in the file? (the order of the SNPs should not matter). I wonder if there is a subtle formatting issue (e.g., linefeeds) that is accidentally fixed by removing 3 lines (SNPs) of the d

[2017-10-18 01:16] irn-alex commented on #102
Thanks, I tested fitting the full relationship matrix (n*n) and it looks fine but not. I try -eigen option.

[2017-10-18 01:37] pcarbo commented on #102
@irn-alex Okay, that is progress. If I remember correctly, you need to be careful that the ids match the "individual id" column in the PLINK file. I remember another user had an issue with this, but unfortunately I can't find the details now. Or if it is working with full relationship matrix, maybe continue with that approach.

[2017-10-18 11:05] pjotrp commented on #103
Since this is such a common thing, we should add a protocol/script for converting VCF to bimbam.

[2017-10-18 11:10] pjotrp commented on #102
@pcarbo, for anyone who files an issue it would be useful to ask for the log file and platform so we can see what version of GEMMA is running and making data available so we can reproduce the error. I would like to collect these errors and make sure GEMMA reports correctly.

[2017-10-18 13:33] pcarbo commented on #102
@pjotrp Agreed!

[2017-10-18 16:14] Gen-Harrison opened #104 "Null Relatedness Matrix in Gemma"
Hi,
I want to run the BSLMM in Gemma, but include a relatedness matrix in which none of the individuals are related. To do this I created a matrix of 0s and 1s. Where 1 is relatedness to self and 0 is relatedness to other. My goal for running Gemma is to look at the PVE/PGE of cis-eQTL variants on the expression of a given gene. When I run Gemma, I get results for about 50% of the genes tested, an

[2017-10-19 00:57] pcarbo commented on #104
@Gen-Harrison It is strange that you are providing a relatedness matrix that is the identity matrix. I haven't done this before, but this could definitely cause non-identifiability issues because you essentially have two variance components in the model that are the same (both identity matrix). This may explain the error you are getting.

Note, from the manual: "GEMMA does not require the user to

[2017-10-19 01:21] 666wisteria commented on #101
Hi Peter,

Since the last message I have tried to reformat the dosage file in different ways (remake chr18 and chrX dosage files, remove SNPs in the front and add in the back of the dosage files and other locations), but the result is still depressing. I still get NaN values. Here is my command line:

./gemma -g chr18.F34_F3943.AIL.dosages -p F343943_MA_pheno.txt -n 3 -k autoExceptchr18.F34_F3943.

[2017-10-19 01:22] pcarbo commented on #101
@666wisteria Could you share a link via Dropbox or Google Drive?

[2017-10-19 01:26] 666wisteria commented on #101
Yes! I just shared a link through dropbox with you. The five input files
are hanging inside the New_filter folder but outside of the F34, F3943, and
F34F3943 folders.

Xinxin

On Wed, Oct 18, 2017 at 6:22 PM, Peter Carbonetto <notifications@github.com>
wrote:

[2017-10-19 03:44] angelaparodymerino opened #105 "Segmentation fault: 11 when pheno file has extraneous column"
Hi,

I managed to create the bimbam.gen file which looks fine. However, I tested it in GEMMA:

gemma -g bimbam.gen -p pheno.txt -bslmm 1 -o out

and I get:

Reading Files ...
Segmentation fault: 11

I suspect it has to do with the format of the bimbam.gen file, but I opened it and it looks fine. Any idea of what it might be happening?

Thanks,

Ángela

[2017-10-19 14:22] pcarbo commented on #105
@angelaparodymerino Yes, that is most likely the explanation. Can you share the first few lines of the genotype and phenotype files?

[2017-10-19 22:09] Gen-Harrison commented on #104
Thanks for the response. We launched it today without the relatedness matrix per your advice. The reason we were providing the identity matrix is that we are looking  differences in a phenotype between two populations, but one of our populations has lower genetic diversity than the other and in this population many of the individuals are relative, and the phenotype we are trying to measure correla

[2017-10-20 01:34] angelaparodymerino commented on #105
Thanks for your quick replies!

I was going to share my files but I found out that pheno.txt file had a mistake (it had the samples ID column, which shouldn't be there), so I corrected it and it worked fine, which means that the BIMBAM mean genotype file was correct.

Thanks again! :)

Ángela

[2017-10-20 02:18] pcarbo commented on #105
@angelaparodymerino Wonderful!

[2017-10-20 02:46] hxtao opened #106 "gemma bslmm problem"
@xiangzhou
Hi
First of all, Thanks for your bslmm model .When I used the software for GWAS,the output like this.
`Command Line Input = -bfile fw -k fw-cen.txt -bslmm 1 -w 1000 -s 10000 -o fw

So I don't know how to perform multiple test and detect significant snps.

[2017-10-20 06:43] pjotrp commented on #105
I would like to replicate the error. I don't think the recent versions of gemma segfault on this, but I would like to make sure.

[2017-10-20 08:25] hxtao commented on #93
Hi Peter;

First of all,Thanks for your reply.I have seen the R script.I have some details to ask.

When we use R to perform permutation, we should load gemma.exe format:  system(paste(gemma.exe .But I haven't found the exe format.Besides I have no idea about this step: rows<- sample(nrow(pheno)).

-----原始邮件-----
发件人:"Peter Carbonetto" <notifications@github.com>
发送时间:2017-10-08 04:42:25 (星期日)
收件人:

[2017-10-20 12:00] pcarbo commented on #105
@pjotrp Great idea.

[2017-10-23 02:04] pcarbo commented on #93
@hxtao That line of code will generate a permutation of the numbers from 1 to n, where n is the number of rows of the `pheno` data frame. I recommend that you download the CFW data set and walk through the steps of the R script so that you can understand what it is doing. Instructions for downloading the data (from Data Dryad) are provided in that Github repo.

[2017-10-23 02:10] pcarbo commented on #106
@hxtao The BSLMM model is not intended for performing association tests. Instead, you should use the linear regression (`-lm`) or LMM (`-lmm`) models, or the multivariate versions of these.

[2017-10-23 02:30] pcarbo commented on #101
@666wisteria I just checked and this command worked for me:

[code]

Your dosage file does not follow the description given on p. 11 of the GEMMA manual; you need commas between the columns.

[2017-10-23 02:44] hxtao commented on #106
@Peter  Thanks for your reply .I have read the paper "Polygenic Modeling with Bayesian Sparse Linear Mixed
Models",where the BSLMM model compared with the lmm model in GWAS.The paper emphasize on comparasion the difference between the models,but I want  to detect the prominent SNP which is associated with phenotypes.

So I don't know how to detect when used the BSLMM model.

----原始邮件-----
发件人:"Pet

[2017-10-23 04:51] 666wisteria commented on #101
Thanks for correcting the phenotype file format! The same phenotype file has worked before though, and I think GEMMA is pretty flexible with file format.

The command line you wrote works fine because there is no covariate file. My problem was that when I included the covariate file with the three covariates, I got no results for chr18 and chrX. Have you tried including the covariate file? Does th

[2017-10-23 07:53] pjotrp commented on #101
Can you send us the log.txt file. What version of gemma are you using and where did it come from? This can be a duplicate of https://github.com/genetics-statistics/GEMMA/issues/58

[2017-10-23 07:57] pjotrp commented on #101
@pcarbo note that GEMMA generally allows for a mixture of whitespace and commas as delimiters. It does so in Readfile_cvt:

[code]

[2017-10-23 11:25] xiangzhou commented on #106
If you do want to use BSLMM for testing, you can extract gamma values from the *.assoc.txt file. The gamma value is between 0 and 1, and represents the posterior probability of association in the presence of population stratification (i.e. treating alpha as the population stratification effects). You can use gamma to prioritize SNPs, and you can use some standard cutoffs (say 0.5, 0.9 or 0.99) to

[2017-10-23 15:45] pcarbo commented on #101
@666wisteria This command also worked for me (GEMMA v0.96, MacOSX):

[code]

I'm attaching the log file from running this command.

Can you try this command? Please send the log file if it doesn't work.

[2017-10-23 17:24] 666wisteria commented on #101
I've tried this command, and this is the log file:

##
## GEMMA Version = 0.95alpha
##
## Command Line Input = /projects/ps-palmer/software/local/src/gemma -g /oasis/tscc/scratch/xiz152/AIL_F34F3943/F34to43_genos/New_filtering/chr18.F34_F3943.AIL.dosages -p /oasis/tscc/scratch/xiz152/AIL_F34F3943/F34to43_genos/New_filtering/F343943_MA_pheno.txt -n 3 -k /oasis/tscc/scratch/xiz152/AIL_F34F3943/F34to

[2017-10-23 17:27] 666wisteria commented on #101
This is the log file when I run the same command. Still NaNs.

Could this be a system problem? I'm running the commands on a cluster, not
a Mac.

On Mon, Oct 23, 2017 at 8:45 AM, Peter Carbonetto <notifications@github.com>
wrote:

##
## GEMMA Version = 0.95alpha
##
## Command Line Input = /projects/ps-palmer/software/local/src/gemma -g /oasis/tscc/scratch/xiz152/AIL_F34F3943/F34to43_genos/New_filt

[2017-10-23 17:42] pjotrp commented on #101
You are running an old version of GEMMA. I think it is linked against GSL2 for which we fixed the NaN bug fairly recently. We are close to a new release which should work. If you are not comfortable building your own, we can try and provide a test release in the coming days. Is that an idea?

[2017-10-23 18:07] 666wisteria commented on #101
That sounds perfect! How soon do you think I'll be able to get a test
release?

On Mon, Oct 23, 2017 at 10:42 AM, Pjotr Prins <notifications@github.com>
wrote:

[2017-10-23 18:13] pcarbo commented on #101
@666wisteria If you don't want to wait, I think [GEMMA v0.96](https://github.com/genetics-statistics/GEMMA/releases/tag/v0.96) should fix your issue (but for longer term suage I would recommend upgrading).

[2017-10-23 19:37] pjotrp commented on #101
The binary install for 0.96 may be fine if it is linked against GSL1. I'll make a 0.97-pre test release available this week. Be good to test that anyway.

[2017-10-23 19:40] pcarbo commented on #101
@pjotrp Good idea.

[2017-10-23 20:01] hxtao commented on #106
@xiangzhou  Thanks for your reply. I see that it need to run the model for a long time.I just want to ask for a example or some paper for details .This is my first time to do GWAS with GEMMA,and I know  I am a green hands.So I need a example to explain.

发送自 Windows 10 版邮件应用

发件人: xiangzhou
发送时间: 2017年10月23日 19:26
收件人: genetics-statistics/GEMMA
抄送: hxtao; Mention
主题: Re: [genetics-statistics/GEMMA

[2017-10-23 22:25] angelaparodymerino opened #107 "Number of total SNPs and number of analyzed SNPs"
Hi!

I run a BSLMM in GEMMA and this is what appears in the terminal:

[code]

I included the covariates (PC1 and PC2) in the bimbam file, so this bimbampcas2.gen contains two rows with these covariates, therefore it contains 3412 SNPs (rows) + 2 PCs (rows)= 3414 rows. I was wondering why I get that the number of total SNPs = 3414 and not 3412. I wonder the same thing about number of analyzed SNPs

[2017-10-23 22:40] angelaparodymerino opened #108 "-bslmm 1 (linear bslmm) or -bslmm 2 (ridge regression)"
Hi,

I have a question about under which criteria would be better to use the option -bslmm 1 (for performing a linear bslmm) or -bslmm 2 (for ridge regression). I am working with a quantitative trait, and the only thing I found out about these two methods is that ridge regression suits better a situation in which the explanatory variables of the model (in my case I have the SNPs, and the 2 covaria

[2017-10-23 22:55] angelaparodymerino opened #109 "number of burn-in iterations if -w not used?"
Hi,

I was wondering what are the standard parameters when values for -w (burn-in iterations) and -s (number of sampling iterations that will be saved) are not indicated.

Thanks!

Ángela

[2017-10-24 00:36] pcarbo commented on #109
@angelaparodymerino You can find the answers to your questions with `gemma -h 10`.

[2017-10-24 01:00] angelaparodymerino commented on #109
Thanks! :)

'Angela

[2017-10-24 01:09] irn-alex commented on #102
I used the linux executable version I downloaded this week from : http://www.xzlab.org/software.html. GEMMA Version = 0.96
I just changed the mode by: chmod 755. The main point was that a (nx3) kinship matrix was not working in GWAS but the full matrix (nxn) did worked.Also it looks like gemma doesn't give me the log file! when there is an error. I got the log file when I fitted the full kinship m

[2017-10-24 23:43] 666wisteria commented on #101
So I'm trying to build GEMMA v0.96 locally because the pre-built binary is not working on our HPC
I get the following error after loading the gnu module:
[aschitre@tscc-login1 GEMMA-0.96]$ module load gnu
[aschitre@tscc-login1 GEMMA-0.96]$ make
g++ -Wall -Weffc++ -O3 -std=gnu++11 -DWITH_LAPACK -m64 -static  -c src/main.cpp -o src/main.o
In file included from src/main.cpp:25:0:
src/param.h:25:28: f

[2017-10-25 08:47] pjotrp commented on #101
See the INSTALL.md for that.

[2017-10-25 11:09] pjotrp commented on #101
I have also created a test release which is a GNU Guix relocatable binary - it mirrors my setup. Get it from http://test-gn2.genenetwork.org/ipfs/QmXBLkReUhvZiMU2ehFeBp7jjCn7d8BJiZAaoL8kukQurY. Unpack it, install and run

[code]
and run it with

[code]

It should work. The method I used to create this package is described at https://gitlab.com/pjotrp/guix-relocatable-binary-packages/blob/master/RE

[2017-10-25 12:36] pcarbo commented on #101
@pjotrp Can you fix the link at the bottom of your last reply? It doesn't work for me. Thanks.

[2017-10-25 12:48] pcarbo commented on #101
@666wisteria Please try Pjotr's approach. I'm interested to see if it works for you.

To answer your specific question, I recommend modifying the `LIBS` and `GCC_FLAGS` MAkefile variables to point to your GSL installation. See [Makefile.macosx](https://raw.githubusercontent.com/genetics-statistics/GEMMA/master/Makefile.macosx) for an example of this.

[2017-10-25 13:04] #109 closed

[2017-10-25 13:06] pcarbo commented on #108
@angelaparodymerino No, both the ridge regression and BSLMM models would model the covariates similarly, and would correctly account for correlations between the covariates and the SNPs.

[2017-10-25 13:24] pcarbo commented on #107
@angelaparodymerino The covariate data should be in a separate file, and added to your analysis with the `-c` option. Please see Sec. 3.4 of the manual a well as `gemma -h 2`.

[2017-10-25 13:30] pcarbo commented on #102
@pjotrp Do you think this might be fixed in the new release? Perhaps we should add a test for loading kinship matrices stored in this way.

[2017-10-25 15:17] pjotrp commented on #101
You mean the gitlab link - ah yes, it is still private.

[2017-10-25 21:23] angelaparodymerino commented on #107
Hi pcarbo, thanks for your answer.

GEMMA's manual says (page 24): _"In addition, GEMMA does not take covariates le when fitting BSLMM. However, one can use the BIMBAM mean genotype le to store these covariates and use \-notsnp"_ option to use them."_ so that is what I did. Specifically, to do what it is said in the manual I did the following:

1) I used bcftools: bcftools convert -gensample fi

[2017-10-25 21:27] angelaparodymerino commented on #107
Well, my previous comment has a different question than the title of this entry. But, well, I have just explained what I have done and I still have the doubt about why

## number of total SNPs = 3414
## number of analyzed SNPs = 3414

are not 3412, which are my actual number of SNPs. It must be counting the two last rows of the pcs, but it is confusing because I used -notsnp so it shouldn't take t

[2017-10-25 21:29] angelaparodymerino commented on #108
Hi pcarbo,

Thanks for your answer.

So, what is the difference between using ridge regression and BSLMM? Under which criteria should I decide to use one or the other?

Thanks,

'Angela Parody-Merino

[2017-10-25 22:45] 666wisteria commented on #101
Pjotr: I'm trying to install v0.96. Which line in the Makefile should I modify LIBS and GCC_FLAGS? There are multiple lines that have these variables. Could you let me know the line number, if possible?

[2017-10-26 02:28] pcarbo commented on #101
@666wisteria The lines that start with `CPPFLAGS =` and `LIBS =`.

[2017-10-26 02:32] pcarbo commented on #108
@angelaparodymerino [Our PLoS Genetics paper](http://dx.doi.org/10.1371/journal.pgen.1003264) discusses this very question. In short, the BSLMM model is more flexible, so should provide more accurate estimates across a wider range of complex traits.

[2017-10-26 02:49] pcarbo commented on #107
@angelaparodymerino My apologies, yes, you are right.

I think you are doing this correctly. I would view all the rows of your BIMBAM file as general covariates, that may or may not be SNPs. So I suppose we should replace the message `number of total SNPs = 3414` with `number of total variables = 3414`, which would be more correct.

In any case, just ignore the count of the number of SNPs.

[2017-10-26 03:25] angelaparodymerino commented on #108
Ok. Thanks.

'Angela Parody-Merino

[2017-10-26 03:30] angelaparodymerino commented on #107
Ok, thanks. I just needed to reassure that what I was doing made sense.

Maybe number of total variables would be less confusing and more accurate than number of total SNPs.

Thanks again!

'Angela Parody-Merino

[2017-10-26 03:40] #107 closed

[2017-10-26 03:40] #108 closed

[2017-10-26 04:54] pjotrp commented on #101
You can pass these flags on the command line, as stated in the INSTALL doc. Make sure to link 0.96 against GSLv1. GSL2 support came after.

Note that 0.96 is out of date. If you want debugging help you'll also need to try the latest version which has a lot of fixes and better debug support.

[2017-10-26 09:36] pjotrp commented on #90
I have made a preview release available on
https://github.com/genetics-statistics/GEMMA/tree/gemma-0.97-preview

The binary can be installed and downloaded from http://test-gn2.genenetwork.org/ipfs/QmPuHFqYfBrRtdjpozMdzJj7RBN1AQEWkGeWwGDoLvWMeH with

[code]

@xiangzhou, @pcarbo please confirm that this works for you before we do a full release.

[2017-10-26 09:38] pjotrp commented on #81
See https://github.com/genetics-statistics/GEMMA/issues/90

[2017-10-26 09:38] #81 closed

[2017-10-26 09:38] pjotrp commented on #101
See https://github.com/genetics-statistics/GEMMA/issues/90

[2017-10-26 17:12] 666wisteria commented on #101
Is v0.97 out now? We were trying to install v0.96 because we thought that is the latest version.

[2017-10-26 18:03] 666wisteria commented on #101
I have successfully installed v0.97, with a slight modification. Instead of using the command line to run the installer like this: ./install.sh ~/opt/gemma, which didn't work for me, I dropped the opt folder and just ran it like this: ./install.sh ~/gemma. I think after unpacking the tarball I did not get an opt folder, and that was what kept me from successfully installing GEMMA using the command

[2017-10-26 19:52] pjotrp commented on #101
Good. It is a pre-release of 0.97. See if it works for you. I'll take note about the opt dir. Thanks!

[2017-10-26 20:00] 666wisteria commented on #101
When would you be able to release the formal version of 0.97? I was able to install this new version on my end, although our lab bioinfomatician couldn't install v0.97 in our lab node in a cluster, which was weird.

[2017-10-26 20:02] pjotrp commented on #101
Can you provide an error message and other output? It should work on almost all Linux systems.

Release comes after testing by other developers. Give it another week.

[2017-10-26 21:08] forevertl opened #110 "gemma"

[2017-10-26 21:12] forevertl opened #111 "Gemma v0.96 issue"
Hi,
I 'd like to ask a gemma issue question. I have a code as below which I can run well without problem using old version of gemma. But after I use v0.96, I cannot get it run. I got error: 'ILLegal instruction (core dumped). I use Linux server.
my code:

[code]

Do you know why this happens? Thank you very much for your help and time in advance!
Lin

[2017-10-26 21:13] #110 closed

[2017-10-27 04:07] pjotrp commented on #111
Please try 0.97 prelease as described here:
https://github.com/genetics-statistics/GEMMA/issues/90.

[2017-10-27 07:48] Linghan-Jiang opened #112 ""conda install gemma" using bioconda couldn't work"
I tried using bioconda to install gemma following "INSTALL.md", but error arised as follow:

[code]

I googled the bioconda repository and searched for 'gemma' but found no record.

???

What should I do to fix this?

[2017-10-27 12:38] pcarbo commented on #90
@pjotrp I ran this command on CentOS 7.x (Scientific Linux 7.x) and got the following error:

[code]

This is current structure of the target directory:

[code]

Any ideas?

[2017-10-27 12:45] pcarbo commented on #90
@pjotrp Also, when running on a MacBook Pro with Mac OS 10.12.6, I got the following error:

[code]

[2017-10-27 20:17] pcarbo commented on #90
@pjotrp How important is it to have `<regex>`? I see it is only used in `io.cpp`. It seems that it is not well supported by gcc 4.8.5, which is the default gcc installed on recent Linux (e.g., RedHat, CentOS) setups. This might introduce additional complications.

[2017-10-28 08:01] pjotrp commented on #90
@pcarbo the installer is for Linux only.

Can you run the installer with -v and --debug switches, so I can tell where it is going wrong. You should be able to run gemma already by running

        /scratch/midway2/pcarbo/gemma/gemma-git-gn2-0.97-pre3-a96b717-y5i5ajpzkx8cb/bin/gemma

[2017-10-28 09:39] pjotrp commented on #112
We still need to add it to conda.

[2017-10-28 10:03] pjotrp commented on #101
@666wisteria are you still getting NaNs? Can you send me the output of the cluster install, ask them to use -v --debug and --force flags.

[2017-10-28 20:00] 666wisteria commented on #101
Sorry I just saw this today! Our lab bioinformatician is installing GEMMA on cluster. She got this error:

`./gemma: /opt/gnu/gcc/lib64/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by ./gemma)`

She will clean out the v0.96 install and try install v0.97 from afresh and see if she still got the same error.

I have successfully installed GEMMA on my home directory, and this v0.97 fix

[2017-10-31 14:24] wangxinbio opened #113 "gemma error when I used the parameters -gs ???"
Hi Author,
When I used the gemma for GWAS analysis (Version 0.96, 05/17/2017), I encountered the errors below. How can I fix it?

Thanks
Xin

[code]

[2017-10-31 14:26] forevertl commented on #111
thank you. I tried 0.97 prelease and got error:
**** DEBUG: entered in src/io.cpp at line 402 in ReadFile_cvt
**** DEBUG: entered in src/io.cpp at line 469 in ReadFile_bim
**** DEBUG: entered in src/io.cpp at line 515 in ReadFile_fam
**** DEBUG: entered in src/io.cpp at line 810 in ReadFile_bed
GSL ERROR: matrix is singular in lu.c at line 266 errno 1
it is weird since I only have one SNP and one

[2017-11-01 12:43] pjotrp commented on #111
Much better error message ;). @pcarbo can you give an opinion. The matrix is singular.

[2017-11-01 12:46] pjotrp commented on #101
Thanks for the report. That error should not happen. Can you send me the result of cat /proc/version on a cluster node? I'll try to replicate it in a VM.

I'll try and fix it next week. If you need to run faster, best have your system support build GEMMA from source to get the latest.

[2017-11-01 12:48] pjotrp commented on #113
Please try running the latest gemma from https://github.com/genetics-statistics/GEMMA/issues/90.

[2017-11-01 12:49] pjotrp commented on #75
Done.

[2017-11-01 12:49] #75 closed

[2017-11-01 17:31] 666wisteria commented on #101
This is what I got:

[xiz152@tscc-login1 New_filtering]$ cat /proc/version
Linux version 2.6.32-696.10.3.el6.x86_64 (mockbuild@c1bl.rdu2.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-18) (GCC) ) #1 SMP Tue Sep 26 18:14:22 UTC 2017

[2017-11-01 21:19] angelaparodymerino commented on #106
Hi @xiangzhou and @pcarbo ,

I have the same doubt as @hxtao. I would like to extract conclusions of association between a phenotype and some SNPs from my BSLMM results.

 I run:

`gemma -g bimbampcas2.gen -k k_thin_100000.txt -p pheno.txt -notsnp -bslmm 1 -o out1`

And the outputs I got are 5 .txt files (out1.bv, out1.gamma, out1.hyp, and out1.log) but any of them is a .assoc.txt file. Where can

[2017-11-02 06:22] pjotrp commented on #101
[code]

the cluster is probably overriding the shared library path, such as LD_LIBRARY_PATH in some Unix module. Please try again after logging in without a profile. On the host:

[code]

[2017-11-02 15:59] pcarbo commented on #90
@pjotrp The installer worked this time. Did you fix any bugs? This is the console output I got:

[code]

[2017-11-02 16:17] pcarbo commented on #101
@666wisteria The installer worked for me on Linux (CentOS 7). Can you try it again? If it isn't working, please run

[code]

and send us the output. Also, after installing the software, are you running the software on the exact same machine? This glibc error often occurs when a software is built on one operating system and run on a different one.

[2017-11-02 16:49] pcarbo commented on #106
@angelaparodymerino For each SNP, there are two effect estimates: the small ("polygenic") effect, and the large ("QTL") effect. The right-most column in the `*bslmm.param.txt` file gives the probability that the large effect is non-zero. You can use this statistic for association testing, as Xiang recommended. Alternatively, you can use the `*gamma.txt.gz` file, but extracting this information fro

[2017-11-02 16:59] xiangzhou commented on #106
Yes, this is correct. It should be the param.txt file.

[2017-11-02 16:59] pcarbo commented on #111
@forevertl What was the command you ran to generate the kinship matrix `genoSNPs_1600.sXX.txt`? What happens if you run GEMMA with `-lm` instead of `-lmm`? Does that work?

[2017-11-02 17:51] pcarbo commented on #113
@wangxinbio What is the command you ran? Maybe try with a smaller number of SNPs (e.g., 1000) to start? Perhaps there is a memory issue with loading >9 million SNPs into memory.

[2017-11-02 18:07] pcarbo commented on #90
*Note:* I was able to compile and run GEMMA successfully on my Mac (MacBook Pro, MacOS 10.12.6, gcc Apple LLVM version 8.1.0, GSL 2.4).

I'm having trouble compiling on Linux, I believe, due to the regex library issue [I mentioned above](https://github.com/genetics-statistics/GEMMA/issues/90#issuecomment-340075019).

[2017-11-02 18:08] 666wisteria commented on #101
Are we talking about the install error or the ****DEBUG error messages? I don't have the install problems, but the lab bioinformatician had problem installing it on the cluster for the whole lab. I'll ask her about that and reply back.

[2017-11-02 18:10] pcarbo commented on #101
@666wisteria Yes, I'm referring to the outstanding problem that your lab bioinformatician is having. Perhaps she can reply to this thread directly.

[2017-11-02 20:32] angelaparodymerino commented on #106
Thanks for your answers. Very helpful.

I read in a paper (Delmore et al., 2016) the following:

Is the reason why BSLMM shouldn't be used for testing association that it doesn't account for covariates? Then, what happens if I don't need to consider any covariate? I am thinking about standardize my phenotype by year and by site, and therefore I don't need to include them in the model. I am wonderi

[2017-11-02 21:13] pcarbo commented on #106
@angelaparodymerino Please see [this paper](https://doi.org/10.1534/genetics.116.193383) for a discussion of some of the issues in using the BSLMM model to implement association tests (they use a model that is very similar to BSLMM). The short story is that the BSLMM suffers a loss of power because the "large" effects can be under-estimated due to the inclusion of small effects in the model. This

[2017-11-02 21:36] angelaparodymerino opened #114 "Interpretation of hyperparameters"
Hi,

After running a BSLMM, I used some tools for analyzing BSLMM outputs given here:  [http://romainvilloutreix.alwaysdata.net/romainvilloutreix/wp-content/uploads/2017/01/gwas_gemma-2017-01-17.pdf](url). This is the summary of the hyperparameters of my BSLMM:

hyperparam | mean | median
h | 0.115449 | 0.082885
**PVE | 0.06197 | 0.05222**
rho | 0.635796 | 0.689002
**PGE | 0.423921 | 0.398434**
pi

[2017-11-02 21:50] angelaparodymerino commented on #106
Many thanks @pcarbo for your answer and for the link to that paper.

Would it be correct to say then that BSLMM is useful for us (scientist studying the genetics behind phenotype/s) because it gives us an idea of the possible genetic architecture behind the phenotype? In other words, to test whether the link between the phenotype/s and the SNPs would fit better on a polygenic (many SNPs with small

[2017-11-03 10:27] pjotrp commented on #114
Hi @angelaparodymerino.

For non development related discussions we have opened a mailing list at https://groups.google.com/forum/#!forum/gemma-discussion. Please take queries such as these to that list.

Much appreciated.

Pj.

[2017-11-03 10:27] #114 closed

[2017-11-03 10:58] pjotrp commented on #90
Cool. I hope you can test it on some datasets before we release 0.97.

On regex - it is much safer than using strtok (for one strtok is not re-entrant). https://stackoverflow.com/questions/5999418/why-is-strtok-considered-unsafe. I created strtok_safe  after using the regex, so I can revert on that if it is *really* necessary. We should get far fewer segfaults from now on...

We still support gcc

[2017-11-03 11:02] pjotrp commented on #113
Please run the latest gemma as pointed to above. Any discussion that does not refer to development of gemma should be on the mailing list: https://groups.google.com/forum/#!forum/gemma-discussion

[2017-11-03 11:02] #113 closed

[2017-11-03 11:03] pjotrp commented on #111
This is a support issue that should be continued on the mailing list:

https://groups.google.com/forum/#!forum/gemma-discussion

[2017-11-03 11:03] #111 closed

[2017-11-03 11:03] pjotrp commented on #106
Please discuss on the mailing list: https://groups.google.com/forum/#!forum/gemma-discussion

[2017-11-03 11:03] #106 closed

[2017-11-03 11:05] pjotrp commented on #104
I think the kinship matrix has to be symmetric. @xiangzhou ?

[2017-11-03 11:08] pjotrp commented on #102
I think the kinship should be symmetric. @xiangzhou ?

[2017-11-03 11:12] #87 closed

[2017-11-03 11:13] pjotrp commented on #93
Please continue on the mailing list https://groups.google.com/forum/#!forum/gemma-discussion

[2017-11-03 11:13] #93 closed

[2017-11-03 11:14] pjotrp commented on #101
As this is no longer development, please continue on the mailing list https://groups.google.com/forum/#!forum/gemma-discussion

[2017-11-03 11:14] #101 closed

[2017-11-03 11:15] pjotrp commented on #112
Duplicate of https://github.com/genetics-statistics/GEMMA/issues/52

[2017-11-03 11:15] #112 closed

[2017-11-03 11:16] pjotrp commented on #102
Please continue on the mailing list: https://groups.google.com/forum/#!forum/gemma-discussion

[2017-11-03 11:16] #102 closed

[2017-11-03 14:48] wangxinbio commented on #113
@pjotrp  @pcarbo  Thanks. I will try it.

[2017-11-05 19:49] arose13 opened #115 "Support for pooled genome data?"
Do you think there will be support for pooled sample data coming anytime soon?

[2017-11-06 13:50] xiangzhou commented on #104
Yes, I agree. The kinship matrix cannot be identity -- in this case, the model is not identifiable.

[2017-11-06 16:16] #104 closed

[2017-11-06 16:18] pjotrp commented on #115
Please discuss on the mailing list. https://groups.google.com/forum/#!forum/gemma-discussion

[2017-11-06 16:18] #115 closed

[2017-11-06 21:56] pcarbo commented on #115
@arose13 To clarify, we are migrating all Q&A and discussion (except for bug reports and development-related discussion) to the GEMMA mailing list. I encourage you to subscribe to the mailing list and post your question there. Please see:

https://groups.google.com/group/gemma-discussion

(Note it is easy to unsubcribe at any point.)

[2017-11-06 21:59] pcarbo commented on #104
@Gen-Harrison Given the differences in the populations you might try to run GEMMA on the two populations separately. Alternatively, you could include a covariate to indicate population-of-origin, although this would assume the genetic effects are the same in both populations, which may not be a good assumption.

For followup questions, please post to the GEMMA mailing list. Please see:

https://gr

[2017-11-06 22:00] pcarbo commented on #113
@wangxinbio To clarify, we are migrating all Q&A and discussion (except for bug reports and development-related discussion) to the GEMMA mailing list. I encourage you to subscribe to the mailing list and post your question there. Please see:

https://groups.google.com/group/gemma-discussion

(Note it is easy to unsubcribe at any point.)

[2017-11-06 22:03] pcarbo commented on #102
@pjotrp The n x 3 relatedness format is also allowed; please see p. 13 of the manual. A couple of people have encountered issues with this format, but I'm not certain it is a bug or an issue with their input files.

[2017-11-06 22:03] pcarbo commented on #102
@irn-alex  To clarify, we are migrating all Q&A and discussion (except for bug reports and development-related discussion) to the GEMMA mailing list. I encourage you to subscribe to the mailing list and followup on your issue there. Please see:

https://groups.google.com/group/gemma-discussion

(Note it is easy to unsubcribe at any point.)

[2017-11-06 22:09] pcarbo commented on #101
@666wisteria Yes, please have your colleague post to the mailing list---we are migrating all Q&A and discussion (except for bug reports and development-related discussion) to the GEMMA mailing list. Please see:

https://groups.google.com/group/gemma-discussion

(Note it is easy to unsubcribe at any point.)

[2017-11-06 22:17] pcarbo commented on #93
@hxtao We are migrating all Q&A and discussion (except for bug reports and development-related discussion) to the GEMMA mailing list. If you have any followup questions, I encourage you to subscribe to the mailing list and post your questions there. Please see:

https://groups.google.com/group/gemma-discussion

(Note it is easy to unsubcribe at any point.)

[2017-11-06 22:17] pcarbo commented on #111
@forevertl We are migrating all Q&A and discussion (except for bug reports and development-related discussion) to the GEMMA mailing list. If you have any followup questions, I encourage you to subscribe to the mailing list and post your questions there. Please see:

https://groups.google.com/group/gemma-discussion

(Note it is easy to unsubcribe at any point.)

[2017-11-14 07:00] pjotrp opened #116 "Improve enforce error message"
See https://groups.google.com/forum/#!topic/gemma-discussion/VTfqG6pOPv0

[2017-11-23 06:17] pjotrp commented on #94
Not really a bug because it has no impact on the result.

[2017-11-23 06:19] pjotrp opened #117 "Use legacy switch to show old number of columns"
The extra column output may break software that depends on the old one.

[2017-11-23 06:24] pjotrp commented on #37
I removed all compiler warnings in the latest build. Added only one cast in mvlmm.cpp.

[2017-11-23 06:24] #37 closed

[2017-11-23 06:25] pjotrp commented on #35
We have tests. Closing this issue for now due to inactivity. Reopen if anyone wants to work on it.

[2017-11-23 06:26] pjotrp commented on #45
The code base should be a lot better now. Please reopen if you encounter problems.

[2017-11-23 06:26] #45 closed

[2017-11-23 06:30] pjotrp commented on #34
Closed due to inactivity. Please reopen if someone wants to work on it.

[2017-11-23 17:13] CDsilvaA opened #118 "Doesn't GEMMA return random effect estimate using Univariate Linear Mixed Model?"
Hello, I am using your software GEMMA for my analysis and I need to estimate gebv. I am using the Univariate Linear Mixed Model and I have noticed that the output doesn't return the random effect estimate (u). How can I get this values?

Also, I tried to use the Bayesian Sparse Linear Mixed Model but it always returns a crash when the software computes the UtX:

    ## number of total individuals

[2017-11-23 18:58] pcarbo commented on #118
@CDsilvaA Thank you for your post! Can you please send your question to the [Google Group](https://groups.google.com/forum/#!forum/gemma-discussion)? We are requesting that all questions and discussion be posted in the Google Group, and Issues reserved for bug reports and feature requests.

[2017-11-23 20:51] #118 closed

[2017-11-28 22:07] grzybowskim opened #119 "gxe error"
Hi,

i try to perform gxe analysis but i always get error:

Reading Files ...
Segmentation fault (core dumped)

i know there was similar error here previously so i update my OpenBLAS to newest version, but it still doesn't work. I try both GEMMA version 0.96 and 0.97. Moreover, every analysis without -gxe works fine.

My code is:
gemma.linux -bfile chr1 -k kinship.txt -lmm 1 -n 1 2 -c cv.txt -gxe

[2017-11-29 02:47] pcarbo commented on #119
@grzybowskim Thank you for your post, and your interest in GEMMA. Can you please post this same question on [the Google Group](https://groups.google.com/forum/#!forum/gemma-discussion)? Thank you.

[2017-11-29 06:18] #119 closed

[2017-12-04 22:48] ScientificDesi commented on #103
Hi!
I'm trying to convert a VCF file with dosages to the Mean Genotype File required by Gemma
@pcarbo` --recode bimbam` option in `plink` does not create the **Mean Genotype file** but it creates the **Basic genotype file** format explained here: [](http://www.haplotype.org/download/bimbam-manual.pdf) **Page 5** **3.1 Basic genotype file format**

Does it matter if the input file for Gemma is in t

[2017-12-04 22:49] ScientificDesi commented on #103
Hi!
I'm trying to convert a VCF file with dosages to the Mean Genotype File required by Gemma
@pcarbo` --recode bimbam` option in `plink` does not create the **Mean Genotype file** but it creates the **Basic genotype file** format explained here: http://www.haplotype.org/download/bimbam-manual.pdf **Page 5** **3.1 Basic genotype file format**

Does it matter if the input file for Gemma is in this

[2017-12-05 02:00] pcarbo commented on #103
@ScientificDesi Thanks for your interesting in GEMMA. Please post questions (other than bug reports and feature requests) to our [Google Group](https://groups.google.com/forum/#!forum/gemma-discussion).

[2017-12-06 08:20] pjotrp opened #120 "Integer overflow with cblas_dgemm with large datasets"
6000 inds x 560K SNPs overflows dgemm because of default 32-bits integers, see

  https://groups.google.com/forum/#!topic/gemma-discussion/F9iHgDiBen0

The fix is to link against 64bits openblas. I added an overflow check too.

[2017-12-06 14:31] pcarbo commented on #120
[This](https://github.com/xianyi/OpenBLAS/issues/1197) and [this](https://github.com/Homebrew/homebrew-science/issues/48) might be helpful.

[2017-12-06 15:32] pjotrp commented on #120
It is a mess.

[2017-12-06 15:34] pcarbo commented on #120
@pjotrp Do you think other BLAS libraries (e.g., ATLAS) might support this more seemlessly? Maybe we should move away from OpenBLAS?

[2017-12-06 15:51] pjotrp commented on #120
OpenBlas is not the problem.

[2017-12-07 08:53] pjotrp commented on #120
I built64-bit OpenBlas with a very conservative:

[code]

and linked that against gemma using

[code]

results in test errors like

[code]

which implies that GEMMA does not like 64-bits. This is not surprising as we are calling hard coded functions with int parameters:
https://github.com/genetics-statistics/GEMMA/blame/5252c296a389f296e97d95e56f13b77351b32bec/src/lapack.cpp

[2017-12-07 08:58] pjotrp commented on #120
To make this work we'll also have to change the definition of int *ISUPPZ etc to long *ISUPPZ.

[2017-12-07 11:11] pjotrp commented on #120
Only bslmm wants the full matrix inds x genotypes multiplication (took me a while to realise that). So it is less of a problem than I thought. Gemma will now throw an error on overflow.

[2017-12-07 12:38] pcarbo commented on #120
👍

[2017-12-07 13:52] #116 closed

[2017-12-08 10:13] pjotrp commented on #105
The code checks for the number of columns.

[2017-12-08 10:13] #105 closed

[2017-12-08 10:51] pjotrp commented on #117
https://github.com/genenetwork/GEMMA/commit/6ce9ada43491b773bcbb459d6f12d45e2d901ea0

[2017-12-08 10:51] #117 closed

[2017-12-08 10:54] pjotrp commented on #90
All issues are closed for 0.97. I am going to do a final comparison in the coming days while people test pre5. See https://groups.google.com/forum/#!topic/gemma-discussion/xNO72G-2Xl0.

I'll try to build a binary version with an optimized OpenBlas for Linux.

[2017-12-08 11:39] slricketts opened #121 "Running GEMMA conditioning on SNPs using genotype as a covariate"
Hi,
I would like to run a case-control analysis in GEMMA conditioning on the top SNP hit in my GWAS dataset (association analysis run using univariate linear mixed model).  In PLINK I would do this by putting SNP genotypes (coded as 0,1,2) in a covariate file.  Can I do this in GEMMA and how should I set up the covariate file?
Many thanks!

[2017-12-08 12:37] pcarbo commented on #121
@slricketts Can you please post to the [Google Group](https://groups.google.com/forum/#!forum/gemma-discussion) and I will answer your question? Thank you.

[2017-12-08 14:53] #121 closed

[2017-12-10 20:20] trprado opened #122 "[Request] Support to return ebv and random effect estimate in univariate model"
Greetings, I have a trouble when I use gemma to return the ebv and the random effect estimate.

When I try to calculate the ebv multiplying the genetic matrix and the beta estimate the values I obtain of ebv are too high, I know that is missing the random effect to complete the calculus but this high result is unexpected. In the manual does not have explanations about how to get this parameters, i

[2017-12-12 12:01] pjotrp commented on #122
Read https://github.com/genetics-statistics/GEMMA/tree/gemma-0.97-preview#reporting-a-gemma-bug-or-issue

[2017-12-12 12:01] #122 closed

[2017-12-12 12:02] pjotrp commented on #120
@pcarbo as this is bslmm specific, do you think you can fix this? Or should we push it out to 'later'

[2017-12-14 18:55] gjmzajac opened #123 ""gsl: lu.c:262: ERROR: matrix is singular" when running gemma -vc with more than one component"
I generated a random, uniformly-distributed phenotype for 6602 individuals and a random positive definite k matrix for the same, using this code from Xiang:

[code]

It runs fine with one VC, but when I try running with 2 (where both matrices were generated using the same code), Using GEMMA 0.95, I get the error "gsl: lu.c:262: ERROR: matrix is singular"

[code]

Also, when I run with GEMMA 0.96,

[2017-12-15 15:55] pcarbo commented on #123
Hi @gjmzajac. Thanks for reporting this. Can you please post this same bug to the [Google Group](https://groups.google.com/forum/#!forum/gemma-discussion) and we will follow up with you there? Thank you.

[2017-12-15 15:55] #123 closed

[2017-12-15 18:35] pcarbo commented on #120
@pjotrp I can try to fix this next week.

[2017-12-19 14:20] Anh-Thu-Weber opened #124 "'gsl: brent.c:202: ERROR: function value is not finite' Error with univariate LMM"
Hi,

I am running gemma with the linux executable; it works fine with for the linear model but there is a bug when I use the univariate linear mixed models (I calculated the relatedness matrix with gemma before)

Here is the error message I get:

gsl: brent.c:202: ERROR: function value is not finite
Default GSL error handler invoked.
srun: error: shi35: task 0: Aborted

It occurs after reading abo

[2017-12-19 16:03] pjotrp commented on #124
Probably a duplicate of https://github.com/genetics-statistics/GEMMA/issues/57. Please report on https://groups.google.com/forum/#!forum/gemma-discussion instead.

[2017-12-19 16:03] #124 closed

[2017-12-19 17:21] pjotrp commented on #90
https://groups.google.com/forum/#!topic/gemma-discussion/2NPWKhh3ixE

[2017-12-19 17:21] #90 closed

[2017-12-19 17:23] pjotrp commented on #91
Try the latest release https://groups.google.com/forum/#!topic/gemma-discussion/2NPWKhh3ixE

[2017-12-19 17:23] #91 closed

[2017-12-20 07:01] pjotrp commented on #52
With the one-step (GNU Guix) binary installer we have now there is no real reason to use conda. Besides our version is highly optimized for OpenBlas. Question is whether this is worthwhile including as a compile or binary install. I leave it for someone else to pursue. Closing for now.

[2017-12-20 07:01] #52 closed

[2017-12-21 22:42] Heroico opened #125 "Prebuilt GEMMA binary fails on the mouse example"
Hi there!

I just started using GEMMA and run into an issue. The prebuilt binary `gemma.linux`, available from http://www.xzlab.org/software.html, crashes when running on the mouse example. When I build the binary myself from the sources, it succeeds. The output from my binary seems to match that in `demos.txt` (except for header changes or new fields)

How was that binary built? I think I experie

[2017-12-22 03:51] pcarbo commented on #125
Hi @Heroico, thanks for your interest in GEMMA. Please try [GEMMA 0.97](https://github.com/genetics-statistics/GEMMA/releases/tag/v0.97), which was released a few days ago. Let us know if you have problems installing the new release on your computer. And please post questions to the [Google Group](https://groups.google.com/forum/#!forum/gemma-discussion).

[2017-12-22 03:51] #125 closed

[2017-12-22 08:54] thorellk opened #126 "Problems when trying to create relatedness matrix with new version"
Hi!

I am trying to create a relatedness matrix using the new version of gemma but run into a problem:

`gemma_v097 -g genfile_gemma.txt -p phenotype_general_gemma.txt -a snpfile_gemma.txt -gk 1 -o epistasis_matrix -maf 0`

And get the following output including error message.

`GEMMA 0.97 (2017/12/19) by Xiang Zhou and team (C) 2012-2017
Reading Files ...
ERROR: Enforce failed for NC000915_373 in

[2017-12-22 13:45] pcarbo commented on #126
@thorellk Can you please post on the [Google Group](https://groups.google.com/forum/#!forum/gemma-discussion) and we will reply there? Also, please provide details about your operating system, and whether you downloaded the binary or compiled from source. Thank you.

[2017-12-22 13:45] #126 closed

[2017-12-23 03:37] pcarbo opened #127 "Issues when working with large genotype files"
@pjotrp I'm testing GEMMA on a large GWAS data set with 11,950 samples and 528,969 SNPs. This testing was motivated by Issue #120 but I think deserves its own issue, so I'm posting one separately. For now, I will just record my observations, and we can decide if they are worth investigating.

+ It took an exceptionally long time to write the 11,950 x 11,950 kinship/relatedness matrix (much longer

[2017-12-23 07:30] pjotrp commented on #127
If the computation is fast K it is likely the final transpose that is slow, not the writing to disk.

As for the second problem, use a debugger to interrupt and you can see where it is busy. My work hardly touched bslmm, but it may be openblas that is playing up.

Both points ought to be confirmed in gdb. I'll try and give you an example today.

[2017-12-23 21:07] Annefeng commented on #127
Hi,
I also encountered the same problem when running bslmm and came across your posts in google group and here. In case this would help to investigate the issue:
The data I have contains ~8000 individuals and ~500K SNPs. Estimating GRM took almost a whole day (yes, 24 hours..), and running bslmm stopped at "Calculating UtX..." with a "4309 Segmentation fault      (core dumped)" error. The program

[2017-12-30 18:19] white002 opened #128 "The question about Bayesian"
I tried to use the BSLMM to analysis my data.
_"./gemma -bfile desktop -bslmm 3 -o bslmm"_
the window showed 'Cholesky decomposition unsuccessful in lapack_cholesky_decomp' in the analysis
Is that correct to complete the analysis?

[2017-12-31 17:24] pjotrp commented on #128
https://github.com/genetics-statistics/GEMMA#reporting-a-gemma-bug-or-issue

[2017-12-31 17:24] #128 closed

[2018-01-15 03:54] ColyFu commented on #31
@xiangzhou Sorry, I have read all topics, but I still have no idea about how to calculate pve by each single tested SNP.  While every SNP's l_remle were reported, is it right to calculate pve by (l_remle/(1+l_remle))?

[2018-01-26 10:53] pjotrp opened #129 "Create tool for bimbam format checking"
The format checking in gemma is very basic (segfaulting was the old option). We need something more rigorous as an extra tool since support questions are often related.

[2018-01-26 17:23] pjotrp commented on #129
One thing it should check is whether all genotypes are NAs. See also https://github.com/genenetwork/genenetwork2/issues/271

[2018-01-30 21:14] tommycarstensen opened #130 "Probability floating point error"
I think there might be a bug in GEMMA. When the probability is less than 10^-308, then 0.000000e+00 is printed instead. I think it might be a floating point error:
https://en.wikipedia.org/wiki/IEEE_754#Basic_and_interchange_formats

[2018-01-30 22:15] pjotrp commented on #130
Well we do round stuff. Do you have a reproducible example for us?

[2018-01-30 22:18] pcarbo commented on #130
@tommycarstensen Probability or *p*-value? How do you know it is less than `10^(-308)`?

[2018-01-31 10:02] pjotrp opened #131 "Create support for R/qtl2 file formats"
Gemma should be able to read [R/qtl2](http://kbroman.org/qtl2/assets/vignettes/input_files.html) formats. Not only is this easier from R, but also these formats are more informative and therefore it is easier to catch problems.

Ref: http://kbroman.org/qtl2/assets/vignettes/input_files.html

See also #129

[2018-01-31 12:52] pcarbo commented on #129
From a user:

[2018-02-01 12:23] tommycarstensen commented on #130
@pjotrp This is not a rounding issue. The output is wrong and my collaborator didn't pick up on the missing signal.

@pcarbo I am assuming it is less than 10^-308, because I got 10^-306 with slightly different settings (a different kinship matrix not using LOCO) and the Decimal E max for binary64 is 307.95:
https://en.wikipedia.org/wiki/Double-precision_floating-point_format

I can generate a repr

[2018-02-01 16:36] pjotrp commented on #130
It is a LOCO thing? Can you send us a command line you used? If I can't replicate it I may ask for data next.

[2018-02-01 16:42] pcarbo commented on #130
@pjotrp Do you know if GEMMA is storing the *p*-values or the log(*p*-values) in doubles? If it is storing the p-values, then the error would be due to overflow.

[2018-02-02 08:29] thorellk opened #132 "Suggestion: possibility to direct output directory/path"
Hi!

Would it be possible to include a parameter to manually set the desired output directory/file path, for example if one wants to write the output files to a temporary directory instead of the working directory etc?

Best wishes,

Kaisa

[2018-02-02 16:35] pcarbo commented on #132
@thorellk If you run `gemma -h 2` you will see there is an option `-outdir`:

[code]

[2018-02-02 16:35] #132 closed

[2018-02-02 19:08] tommycarstensen commented on #130
@pjotrp Let me know, if you need the data. I can prepare it. I'm quite sure it's a floating point issue. I'm not familiar with your codebase, but as suggested by @pcarbo it's probably because the p-values are not stored as their log values.

[2018-02-03 10:30] thorellk commented on #132
Great, thank you!

[2018-02-05 15:40] pjotrp commented on #132
@thorellk please use the mailing list.

[2018-02-05 15:40] pjotrp commented on #130
Having data makes it much easier to fix. So, yes please.

[2018-02-05 16:00] pcarbo commented on #130
@tommycarstensen We would also need the exact command that you ran. We would only need the genotypes for the one SNP, and the relatedness matrix if you are using the LMM.

[2018-02-05 23:00] sweerasi opened #133 "Error GWAS Univariate analysis"
Hi,

I ran the Gemma 0.97 and got an error.

I used the following command to do the GWAS “~/gemma/bin/gemma -bfile BWH -k GRM -lmm  1 -o BWH_ASS” and received the following error.
“ERROR: Enforce failed for file_kin GRM: open file in src/param.cpp at line 912 in CheckParam”

Old version didn’t give that kind of error for the dame data.

My GRM is in the original matrix format prepared using R prog

[2018-02-06 12:42] tommycarstensen commented on #130
It might be easier for me to identify the problem in your code base instead of preparing and uploading the data. Let me check your code and get back to you.

[2018-02-06 18:12] tommycarstensen commented on #130
Here is the command:
gemma0.94.1 -lmm 4 -g $g -p $p -k $k -o $o -notsnp -n 1 -c $c -r2 1

Here are the files:
p=[http://tommycarstensen.com/gemma.130.p.txt](http://tommycarstensen.com/gemma.130.p.txt)
g=[http://tommycarstensen.com/gemma.130.g.bimbam.gz](http://tommycarstensen.com/gemma.130.g.bimbam.gz)
k=[http://tommycarstensen.com/gemma.130.k.cXX.txt](http://tommycarstensen.com/gemma.130.k.cXX.tx

[2018-02-07 05:58] white002 opened #134 "Question about LMM and BSLMM"
When I used the linear mixed model analysis, there are thousands of SNPs have the significant p-value, and I tried to adjust my raw data to normality,  but I got the same results, what problem I have to notice?

The bslmm analysis have three mode, what different in mode 1 (linear BSLMM) and mode 3 (Probit BSLMM)? I saw the Polygenic modeling with bayesian sparse linear mixed models which said the

[2018-02-07 12:58] pcarbo commented on #134
@white002 Can you please send an email to the [Google mailing list](https://groups.google.com/forum/#!forum/gemma-discussion) with your question? Thank you.

[2018-02-07 12:58] #134 closed

[2018-02-07 17:55] pjotrp commented on #130
That is a large dataset and I ran a recent version of gemma which actually bails out:

[code]

[code]

Looks like we have another integer overflow error with BLAS, similar to #120 which had 6,000 individuals. Good thing we are enforcing a check these days.

Gemma normally outputs a log file with the command line. But since this program bailed out it was not written.

For now reduce the number of i

[2018-02-07 18:58] pjotrp commented on #130
it also bails out in -legacy mode.

[2018-02-08 09:07] pjotrp commented on #133
GRM can not be opened. Please follow https://github.com/genetics-statistics/GEMMA#reporting-a-gemma-bug-or-issue

[2018-02-08 09:07] #133 closed

[2018-02-08 10:39] tommycarstensen commented on #130
@pjotrp Thanks! Just a note. The older `version 0.94.1` runs "successfully" to completion. It prints what seems to be correct p values for the remainder of the variants in there. It's only when the p value is less than `10^-308` that `0.000000e+00` seems to be printed instead.

P.S. Sorry it took so long to upload example files. I've been really busy.

[2018-02-08 10:46] pjotrp commented on #130
Thanks. Needs fixing for sure.

[2018-02-08 23:36] sweerasi commented on #133
Dear Peter,

Thank you so much.

Kind regards

Shalanee

From: Pjotr Prins [mailto:notifications@github.com]
Sent: Thursday, 8 February 2018 8:08 PM
To: genetics-statistics/GEMMA
Cc: sweerasi; Author
Subject: Re: [genetics-statistics/GEMMA] Error GWAS Univariate analysis (#133)

Closed #133 <https://github.com/genetics-statistics/GEMMA/issues/133> .

—
You are receiving this because you authored t

[2018-02-15 14:46] astridboehne opened #135 "rc/lmm.cpp:399: double LogL_f(double, void*): Assertion `!is_nan(P_yy)' failed"
HI
I am running gemma on different  subsets of individuals and get in several cases this error using

gemma: src/lmm.cpp:399: double LogL_f(double, void*): Assertion `!is_nan(P_yy)' failed.

The command I am using is

gemma -bfile $SUB -gk 1 -o $SUB
mv output/ gemma_lmm_gemmamatrix/
gemma -bfile $SUB -k $TMPDIR/gemma_lmm_gemmamatrix/output/$SUB.cXX.txt \
-lmm 4 -o ${SUB}_gemma_lmm_gemmamatrix_${PH

[2018-02-15 15:42] pcarbo commented on #135
@astridboehne I saw your question on the Google group. I will respond there. Thank you.

[2018-02-15 15:42] #135 closed

[2018-02-20 04:15] pcarbo commented on #130
@pjotrp Here's a phenotype file you can use for testing because it only has 11 SNPs (so you don't have to worry about the genotype matrix being too large); the 6th SNP reproduces the same error that @tommycarstensen observed above.

[gemma.130.p.txt.gz](https://github.com/genetics-statistics/GEMMA/files/1738885/gemma.130.p.txt.gz)

[2018-02-20 17:51] pcarbo commented on #130
@pjotrp I was able to reproduce the same error in GEMMA 0.95a on my MacBook Pro.

Some more interesting observations when running GEMMA version 0.95a on this data set (the one with 11 SNPs). Interestingly, I found that reading the data took a few seconds in 0.95a, and *much* longer in 0.97; the whole analysis took 80 seconds in GEMMA 0.95a (on my MacBook Pro), and 224 seconds in GEMMA 0.97.

Any i

[2018-02-21 00:48] pjotrp opened #136 "Recent versions of gemma are slower"
As referred in #130 creating a new issue here. @pcarbo is 0.96 also faster?

[2018-02-21 14:09] pcarbo commented on #136
@pjotrp GEMMA v0.96 is also faster (total runtime was 73 seconds). So it must be a change that was introduced after v0.96.

[2018-02-21 18:30] pjotrp commented on #136
Thanks confirming. I am not on Macos, so had to rule that out. We did change some calls to BLAS etc. Culprit should be pretty obvious.

[2018-02-22 19:47] pjotrp commented on #130
@pcarbo can you provide gemma.130.g.small.bimbam?

[2018-02-22 19:54] pcarbo commented on #130
@pjotrp You are right, I attached the wrong file. Please see [above](https://github.com/genetics-statistics/GEMMA/issues/130#issuecomment-366862441).

[2018-02-23 02:44] pjotrp commented on #130
Thanks, now I can confirm both this issue and the speed regression#136. Thanks, this makes it likely we can fix both.

[2018-02-23 10:41] tommycarstensen opened #137 "feature request: add --remove to exclude samples"
It would be great to have a `--remove` argument similar to PLINK, bcftools and other software for exclusion of samples.

[2018-03-01 09:11] white002 opened #138 "The question about the BSLMM?"
Hi,
I have some question about the bslmm output, can help me to answer the question.
This is the summary of the hyper-parameter and the log file result

hyperparam | mean | median
h | 0.950358151 | 0.9685071
PVE | 0.934479625 | 0.9560597
rho | 0.249277133 | 0.2305837
PGE | 0.093212219 | 0.075023365
pi | 0.000874915 | 0.000604156
n.gamma | 40.53387 | 28

## GEMMA Version = 0.96
##
## Command Line I

[2018-03-01 18:52] sariya opened #140 "Kinship: gsl: init_source.c:29: ERROR: matrix dimension n1 must be positive integer"
I'm trying to generate kinship using Gemma (Version 0.96, 05/17/2017)

./gemma -bfile indep -gk 1 -o kinship

Error:
Reading Files ...
error! number of analyzed individuals equals 0.
gsl: init_source.c:29: ERROR: matrix dimension n1 must be positive integer
Default GSL error handler invoked.
Aborted

1569 individuals
142620 SNPs

uname -a
Linux 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28) x86

[2018-03-01 22:39] pjotrp commented on #138
Use the google group for this. https://github.com/genetics-statistics/GEMMA#reporting-a-gemma-bug-or-issue

[2018-03-01 22:40] pcarbo commented on #138
@pjotrp He already has… I haven't responded yet.

[2018-03-01 22:40] pjotrp commented on #140
See https://github.com/genetics-statistics/GEMMA#reporting-a-gemma-bug-or-issue

Please use a more recent version of gemma and ask questions in Google groups.

[2018-03-02 16:37] pjotrp commented on #140
OK, I am reopening support requests.  The google group, however, is more appropriate.

[2018-03-02 16:37] pjotrp commented on #138
OK, I am reopening support requests.  The google group, however, is more appropriate.

[2018-03-02 18:06] sariya commented on #140
Got it running. -9 Phenotype doesn't go well with Gemma. Thanks.

[2018-03-03 14:31] pjotrp commented on #140
Thanks for reporting back!

[2018-03-03 14:31] #140 closed

[2018-03-07 15:40] pjotrp opened #141 "Problem with emty columns"
If those two columns are empty i.e. NaN then it seems to have issues.

[code]

see https://groups.google.com/forum/#!topic/gemma-discussion/bU-H3lYv0L4

[2018-03-08 20:13] mpw6 opened #142 "0.97 Installation problems"
I have attempted to install both the haswell and generic precompiled binaries as well as building from source, all without luck.

The instructions here for haswell: https://groups.google.com/forum/#!topic/gemma-discussion/2NPWKhh3ixE do not work as written.

The generic version does install, but has library errors:
[code]

[2018-03-09 13:26] pjotrp commented on #142
cat you paste the results of

        cat /proc/version

[2018-03-09 14:01] mpw6 commented on #142
[code]

[2018-03-11 18:41] pcarbo commented on #142
@mpw6 Also please send the output from `ldd ./gemma`. The `glibc` library that is listed should be within the same directory that GEMMA 0.97 is installed. If not, it is possible that it is using another version of the library that is included in your `LD_LIBRARY_PATH`. Do you use Anaconda or Miniconda?

[2018-03-11 18:53] pcarbo commented on #141
@pjotrp This is expected---GEMMA does not work with missing values in the genotype file (see Sec. 1.4 of the manual). BTW, NaN is not "missing". Missing values are marked with "NA".

[2018-03-12 06:34] pjotrp commented on #141
Currently it segfaults. That is a problem.

[2018-03-12 06:43] pjotrp commented on #142
Sorry for the delay, I was teaching and it scrambled my time and brain. @pcarbo is right: shared library resolution can suffer from environment 'bleeding'. The best way to test this is to run in a completely clean shell, e.g.

[code]

and run gemma. @mpw6 does this work?

I'll see if I can provide a static compiled version too. Should not be too hard now.

[2018-03-12 14:27] mpw6 commented on #142
I could not even get 0.97 to install. So I can't send the ldd. I am attempting to create an environment module for a shared HPC cluster. I found a stable version of 0.96 and have made that available until we can get 0.97 working. static libraries are always best when dealing with environment modules.

[2018-03-12 14:59] pcarbo commented on #142
@mpw6 What is the error you get when you try to install GEMMA 0.97?

[2018-03-12 20:50] pjotrp commented on #142
Yes, I modules bleed in ld paths. Do you mind installing using above clean shell and then running gemma inside the clean shell? The module can be clean too, but better see it works first.

[2018-03-14 12:18] mengnanchang opened #143 "Estimate of Variance Components"
I’m working on a research project. We would like to apply GEMMA on the data. I read the GEMMA manual when i use the program. However, we are not sure about the connection between the output and variance components. I would like to ask two questions in order to clarify it.

1) Is there a way to obtain the tau and lambda in the Univariate Linear Mixed Model from GEMMA? (p.5 on GEMMA manual)

2) If i

[2018-03-14 12:47] pjotrp commented on #142
@mpw6 have you tried installing inside

           env -i /bin/bash --login --noprofile --norc

[2018-03-14 19:34] mpw6 commented on #142
It will install and run only inside the clean shell:

[code]

Unfortunately this will be confusing to users. Is there a way around this problem?

[2018-03-14 20:45] pjotrp commented on #142
Cool and thanks for trying. The good news is that it is an environment issue.

The reason it fails on modules is that they rewrite the library search path(s). We ought to find a solution because future versions of gemma will include more tools and a static linked binary will not do. We'll probably provide a static gemma (again), but it will be limited in its capabilities.

To solve this issue we n

[2018-03-14 22:18] pcarbo commented on #142
This sort of problem happens all the time when using dynamic libraries. This is the motivation for using conda environments, for example.

@mpw6 I would expect that one or more of the libraries in the `gemma` folder can also be found in the your `LD_LIBRARY_PATH`, creating the conflict.

[2018-03-15 06:04] pjotrp commented on #142
Conda does not escape the shared library problem. See https://conda.io/docs/user-guide/tasks/build-packages/use-shared-libraries.html. If you want real software isolation you should opt for Nix or Guix, like the Canadian HPCs are doing. See https://fosdem.org/2018/schedule/event/computecanada/.

These systems hard code the shared library paths, so they don't have to be looked up. The HPCs I am inv

[2018-03-15 13:52] mpw6 commented on #142
Ok, so I see that you install libraries in various subdirectories. It really seems to me that I just need to prepend the LD_LIBRARY_PATH with the paths to the libraries that your installer includes.

[2018-03-15 15:11] pcarbo commented on #142
@mpw6 Yes, that is one approach. That isn't the most elegant solution, but it is reasonable to me.

[2018-03-15 15:26] mpw6 commented on #142
That is my understanding of how to best use environment modules. We prepend the LD_LIBRARY_PATH when needed, and then when the module is removed, we return to the default values.

[2018-03-15 15:46] pcarbo commented on #143
@mengnanchang 1. I believe you could work out what lambda and tau are from the outputs vg, ve and/or pve in the log.txt file, but I don't immediately know the formula for doing this. It is on our "to do" list to provide more comprehensive output of these quantities, but we don't have a timetable for that to be implemented.

2. Yes, these quantities are comparable, but you would have to refer to th

[2018-03-15 16:16] mpw6 commented on #142
I got it working, but I don't understand why you separate all the library files into distinct directories instead of making a single lib dir to hold them all. It's much more difficult to manage the way you've implemented it. Please consider standardizing to aid installation.

[2018-03-15 16:16] #142 closed

[2018-03-15 18:55] pjotrp commented on #142
Fair point. I could add a ./lib directory and symlink into the others. I added an issue https://gitlab.com/pjotrp/gnu-install-bin/issues/2

Even so, note that the use of LD_LIBRARY_PATH is not without dangers. If you search for it you'll find many reasons why it should not be used to 'fix' paths. Software should resolve its own paths or use the system loader. GEMMA install does exactly that, but w

[2018-03-16 02:36] irn-alex opened #144 "fitting a matrix as random effect"
I want to fit a second matrix as a random effect as well as a GRM (genomic relationship matrix) in univariate GWAS. Is it possible in GEMMA?

[2018-03-18 22:10] pcarbo commented on #144
@irn-alex Yes, it is possible, although this feature is not as well developed and documented as some of the other GEMMA features. Your command command will look something like this:

[code]

in which `vc.txt` looks something like this:

[code]

The outputted `log.txt` file from the gemma command will contain the variance component parameter estimates, which you can use to compute a "combined" rela

[2018-04-01 11:14] pjotrp commented on #94
Related:

   For pab, it stores all variables in the form of v_a^TP_pv_b. Similarly,
   ppab stores all v_a^TP_pP_pv_b, while pppab stores all
   v_a^TP_pP_pP_pv_b. These quantities are defined according to the page 6
   of this supplementary information
   ([1]http://xzlab.org/papers/2012_Zhou&Stephens_NG_SI.pdf). In the code,
   p, a, b are indexes: when p=n_cvt+1, P_p is P_x as in that
   suppl

[2018-04-12 02:58] Linghan-Jiang commented on #103
@ScientificDesi Have you solved your problems? I am facing the same problem now.

[2018-04-13 10:11] pjotrp commented on #46
It will happen sometime this year. If you want to help out :). Meanwhile, convert plink to BIMBAM. It can be done with the plink tool.

[2018-04-18 02:31] pcarbo commented on #103
@Linghan-Jiang You are welcome to send an email to the Google Group with a description of your  problem.

[2018-04-25 10:16] pjotrp opened #145 "LOCO computes all SNPs if no markers on chr X"
In one set we have no markers on a chromose and it fails to do a proper LOCO (i.e., skip results).

See https://github.com/genetics-statistics/GEMMA/blob/master/src/lmm.cpp#L203

[2018-04-25 15:27] jsmithcvm opened #146 "gxe issue"
We have been having an issue with the gxe command within univariate mixed model associations.
The command line we are using consists of -g genotypefile -p phenotypefile -n 1 -k kinshipmatrix -a annotationfile -lmm 4 -gxe environmentalcovariate -c fixedcovariate -o outputfilename

For the gxe environmental variable it is formatted as a single column consisting of Zone1 through Zone9
The fixed covar

[2018-04-25 18:12] pcarbo commented on #146
@jsmithcvm Please try version 0.97 which is available [here](https://github.com/genetics-statistics/GEMMA/releases), and let us know if you are having trouble installing it.

[2018-04-25 18:13] #146 closed

[2018-04-26 06:04] pjotrp opened #147 "Allow subsetting a computed K for LMM"
https://github.com/genetics-statistics/gemma-wrapper can cache a computed K for re-use in later LMM computations. When a small number of phenotypes is missing it is possible to re-use the full K dropping rows and columns according to the missing individuals.

[2018-04-26 06:07] pjotrp opened #148 "gemma-wrapper: add support for caching on phenotype NAs"
Rather than take the full phenotype file to compute the hash value, only use the NAs in the phenotype file. This will trigger a re-use of K when the NAs are the same.

[2018-04-27 17:14] pjotrp opened #149 "Enforce failed for 0.00 in src/io.cpp at line 1431 in BimbamKin"
Ooops

[2018-05-05 17:50] qserenali commented on #112
Has this been fixed? I could only get 0.95alpha (released on 03/04/2016) to work (and is lagging several versions behind)

PackagesNotFoundError: The following packages are not available from current channels:

  - gemma

Current channels:

  - http://ddocent.com/bioconda/linux-64
  - http://ddocent.com/bioconda/noarch
  - https://conda.anaconda.org/BioConda/linux-64
  - https://conda.anaconda.org

[2018-05-06 05:35] pjotrp commented on #112
See #52. If you would want to add gemma to bioconda - or get someone to do it, that would be great.

[2018-05-24 03:40] mvacher opened #150 "Using a separate phenotype file with -bfile"
As discussed in this [thread](https://groups.google.com/forum/#!topic/gemma-discussion/0oOFlxvaQi4)

Using a plink input file (-file) with an additional phenotype file (-p) works:
[code]

But is the phenotype in 'phenotype.txt' is actually taken into account in the analysis?
And if so, does it  override the phenotype in the 6th column of the .fam file?

[2018-05-27 06:27] wanyuac commented on #12
@pcarbo Could you show a reference for your formula?

`pve <- var(x) * (beta^2 + se^2)/var(y)`

I could not find it out in literature.

[2018-06-07 13:24] astridboehne opened #152 "Bug when phenotypes are missing?"
Dear Gemma developers,
we were in contact with you before concerning the error message "gemma: src/lmm.cpp:399: double LogL_f(double, void*): Assertion `!is_nan(P_yy)' failed."
We tried to fix our relatedness matrix. However, I then realized that using the same bed and bim files but different fam files will give a different matrix. Which I figures from the manual is correct. However, as soon as th

[2018-06-07 17:34] wyzhangMPI opened #153 "Explained heritablity by identified significant SNPs associating with phenotype"
Hi,

We are currently using GEMMA to estimate the narrow sense heritability (chip heritablity) of a behavior trait in Drosophia melanogaster. The input dataset includes the phenotype data and genetic variants information of around 200 individuals (or inbred lines) from DGRP strains.

For the calculation of the heritablity, we used:

Reading Files ...
## number of total individuals = 198
## number

[2018-06-10 19:53] pcarbo commented on #153
Hi @wyzhangMPI, can you please post your question on the [GEMMA Google Group](https://groups.google.com/forum/#!forum/gemma-discussion), and we will respond to you there? Thank you.

[2018-06-10 20:03] pcarbo commented on #152
@astridboehne Thanks for reporting this bug. To make sure I understand, what you are saying is that the relatedness matrix computation gives you an error whenever one or more of the phenotypes are missing?

Currently, GEMMA does not have this feature. I agree it would be useful.

[2018-06-10 20:17] pcarbo commented on #12
@wanyuac No, I don't have this reference, but the numerator in this ratio is simply derived from the second moment of beta multipled by the sample variance of x, which is the variance of the "genetic value". You might be able to find it in quantitative genetics textbook.

[2018-06-13 08:22] yiminghu opened #154 "Executable version Permission denied"
Tried the executable version (0.96) on both a linux cluster and my own laptap, received the 'Permission denied' error. Is there anyway to resolve this?

[2018-06-13 11:08] pcarbo commented on #154
@yiminghu Try running `chmod 700 <file>` where `<file>` is the GEMMA executable. Does that fix the problem?

Also, I recommend using the latest release (version 0.97).

[2018-06-14 08:01] pjotrp opened #155 "gemma-wrapper: caching K can be done with missing data"
gemma-wrapper currently caches on input files genotypes+phenotypes. When it comes to phenotypes K can be re-used (particularly interesting for permutations). As we have to account for missing data, up to an (arbitrary) 10% of missing data can re-use K by removing rows and cols - we will add an option for that threshold.

[2018-06-14 13:14] wyzhangMPI commented on #153
Yes, I have done that. Sorry for the late reply.

Best,
Wenyu

------ Original Message ------
From: "Peter Carbonetto" <notifications@github.com>
To: "genetics-statistics/GEMMA" <GEMMA@noreply.github.com>
Cc: "wyzhangMPI" <wyzhang@evolbio.mpg.de>; "Mention"
<mention@noreply.github.com>
Sent: 6/10/2018 9:53:12 PM
Subject: Re: [genetics-statistics/GEMMA] Explained heritablity by
identified significa

[2018-06-15 03:42] yiminghu commented on #154
It works! Thanks a lot! I have tried to use 0.97 but ran into the same issue as https://github.com/genetics-statistics/GEMMA/issues/142. Seems like some environment issue on the cluster I used (I guess). Although running in a clean bash solves the problem, however, I need to run BSLMM for many jobs. I also found that by running `unset LD_LIBRARY_PATH;` first could also make it work but would still

[2018-06-15 14:49] pcarbo commented on #154
@yiminghu Please see
[here](https://github.com/genetics-statistics/GEMMA/files/2106421/gemma.linux.gz)
 for a precompiled binary executable for GEMMA 0.97---we are not making it widely available in order to encourage people to use the Guix installation on Linux.

[2018-06-16 02:37] yiminghu commented on #154
Thanks a lot! I could install 0.97 on my cluster it only works when I unset LD_LIBRARY_PATH. And I found the precompiled 0.96 seems to run faster then 0.97. Hope precompiled 0.97 is even faster. 😂

Thanks a lot for the help!

Yiming

[2018-06-16 11:20] pjotrp commented on #152
The workaround is to create a fake phenotype for every individual and compute K. Currently missing values are removed from K. I am planning to add an option which allows you to compute K without looking at phenotypes as part of #155.

[2018-06-16 11:20] #152 closed

[2018-06-19 15:47] gdevailly opened #156 "MAF filtering when using -gxe"
Hello,

when using `gemma` (v0.97) with the `-gxe` parameter to detect interactions with the `-maf` option set to `0.05`, the MAF filtering is done globally, and not per environment.
This results in `gemma` finding highly significant interactions supported by only one or two samples. For example, this SNP interaction had a `p_wald` < 10^-40 while being supported by only one sample.

![rplot](https

[2018-06-21 09:16] prasunanand commented on #103
Hi,
I hope this helps :) .
With PLINK , I had issues converting to `BIMBAM`

[code]

I have been successfully able to convert a vcf file using qctool.
[code]

[2018-06-24 13:52] pjotrp commented on #156
@xiangzhou can you make a suggestion?

[2018-06-24 20:53] xiangzhou commented on #156
I don't know if this is due to algorithm instability when there is only one AG sample in the trop environment. To check this, you can try the score test instead of the Wald test. The score test is more stable than the Wald. If a score test doesn't help, then perhaps we should perform MAF filtering per environment.

[2018-06-26 02:56] pcarbo commented on #156
@gdevailly I agree with Xiang; the Wald test is unreliable, especially for small samples. In my experience the likelihood ratio test is most reliable; I don't recall if that is available with the `-gxe` option.

Also, filtering out SNPs based on MAF, separately in each environment, sounds like an excellent idea.

[2018-06-27 14:44] astridboehne opened #157 "GSL error when changing fam file"
Hi again,
We were in contact concerning the relatedness matrix issue when phenotypes are missing.
I redid all my input files excluding individuals with missing phenotypes, generated new bed, bim and fam files and rerun gemma.
My lm works fine, the relatedness matrix is also generated, however, when I use a categorical phenotype and the lmm I get this error
GSL ERROR: function value is not finite i

[2018-06-28 04:29] wanyuac commented on #12
Thanks for your reply, @pcarbo , although I am still not clear about this formula. I will search through books to find it out.

[2018-06-29 13:43] pjotrp commented on #61
We have a dataset now for testing that shows similar characteristics. Running -lmm 2 renders

[code]

while

[code]

When I run with less phenotypes we get

[code]

[2018-07-03 15:55] pcarbo commented on #157
I responded to this in the Google group.

[2018-07-03 15:55] #157 closed

[2018-07-13 18:47] forevertl opened #158 "gemma 0.97 warnings when generating relatedness matrix"
when I use gemma 0.97 to generate relatedness matrix, i got the matrix created and also got the warning as below. May I trust and use the matrix? If no,what does it mean and what should I do. Thank you very much for your help and time in advance.
thanks,
Lin
ltong@bsdad.uchicago.edu@phs-vms19:~/phsfiles/groups/Projects/GEMS/EPIC_array/LinT_analysis/GxE_As_probes_EPIC>~/gemma/bin/gemma -bfile 1kg_i

[2018-07-13 18:55] forevertl opened #159 "gemma 0.97 gxe analysis walt test p-value issue"
when i ran gxe analysis using old version of gemma, i got similar p values comparing p_walt, p_lrt and p_score. Now I use the same data,same code, replicate the analysis vis gemma 0.97. I get the exact same beta and se. Very similar p_lrt as I got previously using old version of gemma. very similar p_score as I got previously using old version of gemma. but quite different p_walt vs. before. Now t

[2018-07-14 08:36] pjotrp opened #160 "Travis build for MacOS is failing"
A recent update on Travis is causing gemma builds to fail: https://travis-ci.org/genenetwork/GEMMA/jobs/403562335

Notable gcc got upgraded to v8 and openblas to 0.3.1. I suspect the latter since I have seen other failures. I will try the new openblas on Linux soon.

[2018-07-14 09:00] pjotrp commented on #136
Hi @pcarbo, it is interesting to compare 0.96, 0.97 and 0.98-prerelease. I have some metrics here https://github.com/genenetwork/GEMMA/blob/gemma-0.98-preview/test/performance/releases.org

Somehow lapack bled into the 0.97 release. So openblas was not used to full potential. A bit embarrassing for someone who claims to control the dependency graph(!?)

0.96 is a single core Eigenlib version and 0

[2018-07-14 12:33] pjotrp commented on #154
For speed use the -no-check option. See #136. It is way faster than 0.96.

#142 suggest how to clean/sanitize the environment by resetting environment variables.

    env -i /bin/bash --login --noprofile --norc

any Linux admin can do this. Clusters introduce an unhealthy environment with modules.

[2018-07-14 12:33] #154 closed

[2018-07-14 12:34] pjotrp commented on #158
It tells you that you should not use this K.

[2018-07-14 12:34] #158 closed

[2018-07-14 12:34] pjotrp commented on #138
No activity.

[2018-07-14 12:34] #138 closed

[2018-07-16 08:34] pjotrp commented on #159
Thanks Lin, note the newer versions of gemma introduced an extra column. Did you account for that?

If you still see a problem, please tell me the exact versions of gemma you are using.

[2018-07-16 18:23] forevertl commented on #159
Hi Pjotrp,
thank you for your reply. I find an extra column called 'logl_H1' in my .assoc.txt output file. But I do not know how to adjust for it to get correct p_wald. I searched 'logl_H1' in the gemma manual and didn't find it. Could you let me know how to adjust for it? does it mention in the manual?  I use the version 0.97 (2017/12/27). thank you for your help!
Lin

[2018-07-23 20:22] pjotrp opened #161 "Stop when encountering a NaN"
When we see:

     ## REMLE estimate for Ve in the null model:
     2.14138e-05
     -3.21985e-06    1.68684e-06
     -1.21203e-05    -1.80521e-06    1.82497e-05
     ## se(Ve):
     1.72819e-05
     5.62131e-06     2.21151e-06
     1.07007e-05     -nan    1.17464e-05

there is a nan which suggests the results are unstable. We are
dealing with round-off errors most likely (division of values close

[2018-07-23 20:24] #136 closed

[2018-07-23 20:24] pjotrp opened #162 "Create a statically linked release for Linux"

[2018-07-23 20:29] pjotrp opened #163 "Add quantile normalization of phenotypes"

[2018-07-23 22:01] pjotrp opened #164 "Permutation support in gemma-wrapper"
We have a simple permutation for significance in gemma-wrapper. This needs to be documented.

[2018-07-23 22:02] pjotrp opened #165 "Add the genetics browser as output of gemma"

[2018-07-23 22:32] pjotrp opened #166 "Create a python wrapper"
Gemma would benefit from a Python wrapper. Mostly to deal with arguments/options and pre-parsing/validation. Caching, LOCO and permutations currently in the Ruby gemma-wrapper can be moved across too.

[2018-07-23 22:42] pjotrp commented on #148
Duplicate of #155

[2018-07-23 22:42] #148 closed

[2018-07-23 22:43] pjotrp commented on #147
Duplicate of #155

[2018-07-23 22:43] #147 closed

[2018-07-23 22:44] pjotrp commented on #145
This happens when chromosome names are not recognised.

[2018-07-24 15:00] forevertl opened #167 "gxe analysis: warning for kinship matrix"
Hi,
when I generate the kinship matrix via gemma, I do not get warning message. but when I use the kinship for gxe model with code below. I got warning as below. I was told that means that kinship matrix can not be used. I am wondering if there is any solution. I always get this kind of warning when generating kinship matrix. thank you for your help in advance.
thanks,
Lin

[code]

[2018-07-24 16:54] pjotrp commented on #167
https://www.mathworks.com/matlabcentral/answers/266467-when-is-a-matrix-ill-conditioned

[2018-07-27 01:48] pjotrp commented on #61
Commit 70f419673d5d3e49a3eada70c70c2d284b502d7b shows that in all cases eigen decomposition throws FP exceptions when enabling hardware checking. This follows #161.

[2018-07-30 15:00] forevertl opened #168 "gxe analysis output main effect?"
Hi,
I would like to ask a question. when I run gxe interaction analysis, I get the interaction term effect from the output file. I am wondering if there is an option that I also can see the main effect estimate (g and e term) in the gxe model from the output? thank you.
Lin

[2018-07-30 21:04] pcarbo commented on #168
@forevertl To obtain this estimate, you would need to run GEMMA without the `-gxe` option.

[2018-07-30 21:04] #168 closed

[2018-07-31 15:46] pcarbo commented on #167
@forevertl This is a warning only, and doesn't necessarily mean there is an issue with your GEMMA results.

[2018-07-31 15:46] #167 closed

[2018-07-31 17:40] forevertl opened #169 "gxe output issue"
HI,
I run linear model using gxe option but when I compare my gemma output results  vs. plink results. I found my gxe output actually is the estimate of SNP main effect in the model without gxe term instead of the estimate of the gxe interaction term. I didn't get any warning/error in the log file. my log information is as below. Anything wrong?
## GEMMA Version    = 0.97 (2017/12/27)
## GSL Versi

[2018-08-13 03:13] white002 opened #170 "Breeding value calculates in GEMMA"
Hi
I used the BSLMM model to analysis the data, and it made 5 output files including file.param, file.bv, file.hyp .......
Can I calculate the file.bv in LMM?
If I can't calculate the breeding value (BV) on LMM, do you have any suggest softwares to calculate the BV with your LMM output?

Lin

[2018-08-13 11:34] pjotrp commented on #170
Thank you for using GEMMA.

For non-development questions please use our [mailing list](https://groups.google.com/forum/#!forum/gemma-discussion).

For the use of this issue tracker see also our [README](https://github.com/genetics-statistics/GEMMA#reporting-a-gemma-bug-or-issue).

[2018-08-13 11:34] #170 closed

[2018-08-13 11:35] #143 closed

[2018-08-13 11:35] #144 closed

[2018-08-15 20:18] Svijayrag opened #171 "GEMMA 0.97 installation problem"

[2018-08-15 20:28] Svijayrag commented on #171
I am trying to install a precompiled binary version of  GEMMA 0.97 on my MAC OS (High Sierra). After downloading the generic tar bz file, I ran the following commands on Terminal:

$sv112 tar xvjf gemma-git-gn2-0.97-c760aa0-generic-x86_64.tar.bz2

While I had no issues unpacking the file, I ran into errors after running the installation command:
sv112$ ./install.sh ~/gemma
./installer/bin/travelin

[2018-08-16 08:28] pjotrp commented on #171
You are using the Linux installer. Use the macos one.

[2018-08-16 08:28] #171 closed

[2018-08-17 06:13] yupinglin123 opened #172 "GEMMA 0.97 installation problem (macosx)"
Does anyone know how to install macosx version of GEMMA(0.97) on MacBook Sierra 2.7 GHz Intel Core i5?

Below are the commands and errors on Terminal:
1.$wget https://github.com/genetics-statistics/GEMMA/releases/download/v0.97/gemma.macosx.gz
2.$gunzip gemma.macosx.gz -> get the unzipped version of gemma.macosx
3. ./gemma.macosx -> get Persmission denied  error
4. chmod +x gemma.macosx -> run the

[2018-08-17 11:49] pjotrp commented on #172
Thank you for using GEMMA.

For non-development questions please use our [mailing list](https://groups.google.com/forum/#!forum/gemma-discussion).

For the use of this issue tracker see also our [README](https://github.com/genetics-statistics/GEMMA#reporting-a-gemma-bug-or-issue).

[2018-08-17 11:49] #172 closed

[2018-08-25 10:26] pjotrp opened #173 "For mvlmm we need to relace the slow gsl_cblas_dgemm and dgemv with OpenBlas"
The OpenBlas variant is multi-threaded. With univariate LMM we are doing that already and you can see mvlmm is not using its cores.

[2018-08-25 10:32] pjotrp commented on #149
The test only checks for 0 and 0.0. So 0.00 fails - my bad. Sorry about that.

[2018-08-25 11:33] #149 closed

[2018-08-25 16:01] #169 closed

[2018-08-25 16:04] pjotrp commented on #161
We now have default hardware detection of FP out of boundary errors on Intel x64. Releasing soon.

[2018-08-25 16:05] #161 closed

[2018-08-25 17:07] pjotrp commented on #127
related to #173

[2018-08-26 09:54] pjotrp commented on #94
We appear to have a problem with Calcpab perhaps explaining some of the errors we are getting. After adding NaN checking and matrix range checking we are going out of bounds errors. I expected GSL to show them, but apparently it is not guaranteed.

[code]

This is in line https://github.com/genetics-statistics/GEMMA/blob/356f528e52b5cdd13812f64308cbedd87cc0c74f/src/lmm.cpp#L245

To me it looks lik

[2018-08-29 14:35] e-jorsboe opened #174 "Compiling GEMMA 0.97 with local version of OpenBlas?"
Hi,

I have tried compiling GEMMA 0.97 using a local version of OpenBlas. I have therefore made the following edits to the Makefile that comes with the source code of GEMMA 0.97:

1.
$(OUTPUT): $(OBJS)
	$(CPP) $(CPPFLAGS) $(OBJS) -L/path/to/local/openblas $(LIBS) -o $(OUTPUT)

(Where I of course have specified the correct path to the OpenBlas library).

2.
I have also set OPENBLAS_INCLUDE_PATH to

[2018-08-29 15:31] pcarbo commented on #174
@e-jorsboe When linking to a shared library, you also have to tell the system where to find that shared library. Usually it is by editing the `LD_LIBRARY_LIBRARY` environment variable. Let us know if that solves your issue.

[2018-08-30 05:17] pjotrp commented on #174
Read INSTALL document.

[2018-08-30 05:17] #174 closed

[2018-08-30 15:18] pjotrp commented on #61
The problem is in calcPab which generates NaN in some cases. Not completely clear what it is yet, but I think it has to do with uninitialized W. Related to #94

[2018-09-06 13:06] pjotrp commented on #61
I fixed the NaN issue in se(Ve) with above commit. Also for the multiple phenotypes we get an error where it matters:

[code]

It may be possible to solve this, but it is a different issue.

[2018-09-06 13:06] #61 closed

[2018-09-07 08:51] pjotrp opened #175 "Identify correlated cofactors/phenotypes"
It would be helpful if GEMMA notified highly correlated columns.

[2018-09-15 10:41] pjotrp opened #176 "Optimize linking gemma"
We should generate a single object file to optimize inlining

https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html

[2018-09-18 06:55] #162 closed

[2018-09-21 20:49] tjesser-ucdavis-edu opened #177 "GSL requirement confusion"
[INSTALL.md](https://github.com/genetics-statistics/GEMMA/blob/master/INSTALL.md) states that the GSL dependency is:

but the [0.97 release](https://github.com/genetics-statistics/GEMMA/releases/tag/v0.97) says that `gemma.macosx` is built with `GSL 2.4` and `gemma.linux` is built with `GSL 2.3`.

I think the INSTALL.md documentation needs to be updated.

[2018-09-22 06:14] pjotrp commented on #177
Thanks for reporting. You can use both as it stands.

[2018-09-25 15:38] guillaume-ramstein opened #178 "Interpretation of BSLMM output"
Hello, I had a question about the output from BSLMM in GEMMA.
When supplying both a genotype matrix and a relationship matrix G to gemma -bslmm 1, do alpha and beta correspond to effects conditioned on G (such that y = X.alpha + X.beta + u + e; u being polygenic effects and e being errors) or does alpha correspond to polygenic effects as captured by G (such that y = X.beta + u + e and alpha_hat =

[2018-09-25 16:04] pjotrp commented on #178
Thank you for using GEMMA.

For non-development questions please use our [mailing list](https://groups.google.com/forum/#!forum/gemma-discussion).

For the use of this issue tracker see also our [README](https://github.com/genetics-statistics/GEMMA#reporting-a-gemma-bug-or-issue).

[2018-09-25 16:04] #178 closed

[2018-09-26 11:31] pjotrp opened #179 "GSL ERROR: matrix is singular in lu.c at line 266 errno 1"
On Fri, Sep 21, 2018 at 03:58:45AM -0700, Xiang Zhou wrote:

As per your suggestion I ran 0.94, 0.96 and 0.98 with the correlated phenotypes using

[code]

and there is no real difference between 0.94 and 0.96. They both give a result.

0.98, however, gives with the -no-check option

      ERROR: Enforce failed for LU determinant is zero -> LU is not invertable in src/lapack.cpp at line 339 in LUL

[2018-09-26 11:33] pjotrp commented on #179
@HannahVMeyer an you try and see if there is a difference between 0.94 and
0.96 works for all your cases? It would be great if we find one that
works in one of those versions and fails in the other.

[2018-09-27 09:41] pjotrp commented on #173
The problem is a bit larger than that. I tried replacing all dgemm calls but it made mvlmm slower. gsl_cblas_dgemm may actually be faster than openblas for small matrices where multithreading does  not kick in.

According to the profiler the culprits are

[code]

the top two functions are linear and do not call BLAS at all. Requires more work optimizing these. May get back to it later with faster-

[2018-09-27 09:41] #173 closed

[2018-09-27 10:16] pjotrp commented on #179
OK, I found something of interest. Gemma 0.96 when built on my system fails, but the [binary 0.96](https://github.com/genetics-statistics/GEMMA/releases/tag/v0.96)  release provided by @pcarbo  passes also for all 10 phenotypes. Peter wrote

Executable gemma.linux was built with an Intel Xeon E5-2680v4 ("Broadwell") 2.4GHz processor, Scientific Linux 7 (64-bit) and gcc 4.8.5, and statically linked

[2018-09-28 08:53] pjotrp commented on #179
Good news, I replicated the problem wich compares with v94 output. v96 with GSL1.16 returns:

[code]

So, again, it is a GSL thing.

[2018-09-28 09:42] pjotrp commented on #179
v96 with openblas it gives the same result. Great, now I can do a git bisect.

[2018-09-28 10:28] pjotrp commented on #179
99527865c00b74a3a48daa2e1e5eb7c71bd861b5 is the culprit.

[2018-10-01 11:07] #179 closed

[2018-10-12 17:50] pjotrp opened #181 "Git rid of openblas dependencies in build system"
See https://github.com/brewsci/homebrew-bio/pull/479

[2018-10-24 12:36] voichek opened #182 "GEMMA 0.98 fails with: "N>0 in src/fastblas.cpp""
Hi,

Using gemma 0.98, I got the following error massage:

The same parameters configuration works with the 0.96 version.

Am I doing something wrong or is it a bug?

If needed, the files used for this run can be downloaded from [here](https://drive.google.com/drive/folders/14DavBkzIELU-IcRtlQrNfgRdhlImbGCe?usp=sharing).

**Run with 0.98**
[code]

**Run with 0.96:**
[code]

Thanks for the help,
Yo

[2018-10-26 07:30] pjotrp commented on #182
That particular enforce makes sure we get no integer overflows with GSL matrix. The old gemma had no such check, so you are risking results that are wrong by using it. Since you are only doing 876 individuals I suggest to split the SNP dataset into smaller chunks. That should work.

GEMMA will support larger SNP datasets in the near future. I'll raise a new issue for it. At this point, unfortunate

[2018-10-26 07:32] pjotrp opened #183 "Gemma fails with large genotype matrices"
#182 reports an integer overflow in blas. The stack trace reads

[code]

[2018-10-26 07:45] pjotrp commented on #183
The bug is the batch compute which fails with a 0 size of the matrix!

[2018-10-26 07:55] pjotrp commented on #182
@voichek thanks for reporting. Turns out that if the number of SNPs is an exact multiple of computational batches (sized 20,000) you will hit this error. Gemma 0.96 did not have this problem. The workaround until the next release is to add a SNP. Sorry about that!

[2018-10-26 07:58] pjotrp commented on #183
Fixed with b4ec307c441d1e2a41da6f9665c79cc96b55da01

[2018-10-26 07:58] #183 closed

[2018-10-28 11:31] voichek commented on #182
Thanks for the quick response!

[2018-10-28 11:31] #182 closed

[2018-11-06 10:44] voichek opened #184 "nan values in the result"
Hi,

When using GEMMA version 0.98 but not 0.96 I get only nan values in the result file:

[code]
I have [uploaded](https://drive.google.com/drive/folders/1lgKYhl4eCjflKlYSViM_lrrbGr1V0pxt?usp=sharing) this example, if you want to take a look.

Hope you can help me,
Yoav

[2018-11-06 18:56] pjotrp commented on #184
Hi @voichek,

Thanks for reporting. I'll take a look. It may take up to a week because I am on the road.

[2018-11-08 17:11] alena0125 opened #185 "Gemma error: vector length n must be positive integer"
when I run the code below. I got error message as below.

gemma -o gemma.bslmm -notsnp -epm example/gemma.bslmm.param.txt -emu example/gemma.bslmm.log.txt -predict 1 -g example/gemma_genotype_1.txt.gz -p example/gemma.bslmm_train_phenotype_1.txt

![360 20181109005841157](https://user-images.githubusercontent.com/42595183/48214334-b67f0500-e3ba-11e8-93c4-136f8aba8fa3.jpg)

 and I'm trying to mask t

[2018-11-08 18:59] pjotrp commented on #185
Probably an input file problem. Are you using gemma latest? Run with -debug and -check switches.

[2018-11-09 04:07] lukeholman opened #186 "GEMMA miscounts rows in covariates file"
Hey there,

I get this error: `error! number of rows in the covariates file do not match the number of individuals. 185`

I checked the file, and it does indeed have 185 rows when opened in R or Sublime Text. I checked the FAM file, and there are indeed 185 individuals with non-missing phenotypes.

I guess it is some arcane problem involved the end-of-line character?

Cheers

[2018-11-09 04:08] lukeholman commented on #186
[covariate_file_for_GEMMA_transcriptome.txt](https://github.com/genetics-statistics/GEMMA/files/2564564/covariate_file_for_GEMMA_transcriptome.txt)

[2018-11-09 09:50] pjotrp commented on #186
That file is fine, indeed. I think the # individuals differs. Maybe that file has a problem. Sorry, gemma is not very clear here.

[2018-11-09 09:52] lukeholman commented on #186
Is there a way to Gemma to tell me how many individuals it thinks are in the FAM file? The error message just counts the number of rows in the covariate file. I tried adding a row of covariates and subtracting a row, but no effect.

[2018-11-09 10:06] pjotrp commented on #186
I know, I just added a patch to that effect. If you run without covariates it should show the number of individuals. I hope you are using 0.98. Use the -debug and -check options.

[2018-11-10 12:38] alena0125 commented on #185
I downloaded the version from Zhou Lab. It should be the latest version. When I added -debug, I was given an error indicating that -debug was not recognized. How should I add -debug and -check？

[2018-11-10 15:29] pjotrp commented on #185
Latest version is 0.98 on github.

On Sat, Nov 10, 2018 at 04:38:05AM -0800, alena0125 wrote:

[2018-11-16 08:02] alena0125 commented on #185
Thanks! My old version was 0.96, but 0.98 version solved my error!

[2018-11-16 10:22] alena0125 commented on #185
But when I run the above command, all genotypes are ignored.

![1542363479 1](https://user-images.githubusercontent.com/42595183/48615481-fb62f700-e9cb-11e8-96c5-9e03b9795a37.png)

[2018-11-21 08:37] pjotrp commented on #184
A debug stack trace shows

[code]

shows a division by zero

    maf /= 2.0 * (double)(ni_test - n_miss);

where the number of test individuals exactly matches the number of NA individuals. I'll add a fix for that. The behaviour of gemma 0.96 is rather unspecified here and 0.98 should have taken the right action (i.e., drop the SNP or halt).

[2018-11-21 09:08] voichek commented on #184
Dear @pjotrp,

I am not sure I understand, I do have individuals with phenotypic data (no nan) in this dataset.
How come all were thrown?

Thanks,
Yoav

[2018-11-21 09:31] voichek commented on #184
I know, it is supposed to be this way.

Thank you for the help!
I will have to wait for the next release for this to be fixed?

[2018-11-21 09:41] pjotrp commented on #184
I am looking into it. If there is a fix I can make it available.

[2018-11-21 15:20] pjotrp commented on #184
I spent some time on this and it is actually quite tricky.

When a SNP only contains NAs it is still included in the computation for Plink. I am working on a rewrite of GEMMA which should allow fixing such problems much easier. For now, all I can suggest is to use 0.96 for this particular edge case.

If you want to make sure the answer is correct you can also convert the plink files to BIMBAM and

[2018-11-21 15:39] pjotrp commented on #181
Fixed in d31b938a9a4dbf8c363f8770b3fc343ae93ebb82

[2018-11-21 15:40] pjotrp commented on #181
Fixed gfortran and quadmath references, see https://github.com/brewsci/homebrew-bio/pull/479

[2018-11-21 15:40] #181 closed

[2018-11-21 15:41] #186 closed

[2018-11-21 15:41] pjotrp commented on #164
Done.

[2018-11-21 15:41] #164 closed